<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/producto-style.css">
    <link rel="stylesheet" href="/stylesheets/crear-editar-style.css">
</head>

<%- include('../../partials/navbar') %>


    <% for (let i = 0; i < productToEdit.Sections.length ; i++) { %>
    
        <section style="background-color: lightblue;">
            <article>
                <h2>
                    <!--Elegir titulo seccion 1-->
                    <label for="atitle">Titulo seccion</label> <br>
                    <input required type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 60%;" name="<%= indexBenefits[i] %>title"value="<%= productToEdit.Sections[i].title %>" >
                </h2>
            </article>
            <div>
                <article>
                    <h3>
                        <!--Elegir icono.1 seccion 1--> <br>
                        <label for="<%= indexBenefits[i] %>icon<%= i + 1 %>"> <img src="/images/Producto-<%= productToEdit.id %>/<%= productToEdit.Sections[i].Contents[0].text %>" style="width: 5%;"> </label><br>
                        <input type="file" name="<%= indexBenefits[i] %>icon<%= i + 1 %>" id="aicon1" accept="image/svg"> <br>
                        <!--Elegir subtitulo.1 seccion 1-->
                        <label for="<%= indexBenefits[i] %>subtitle<%= i + 1 %>">Subtítulo:</label> <br>
                        <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="<%= indexBenefits[i] %>subtitle<%= i + 1 %>" value="<%= productToEdit.Sections[i].Contents[1].text %>"
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <!--Elegir descripcion.1 seccion 1-->
                        <label for="<%= indexBenefits[i] %>description<%= i + 1 %>">Descripcion:</label> <br>
                        <textarea cols="30" rows="5" style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="<%= indexBenefits[i] %>description<%= i + 1 %>"><%= productToEdit.Sections[i].Contents[2].text %></textarea>
                    </p>
                </article>
                                
                <form action="/products/edited-section" method="post">

                    <button type="submit">Guardar artículo</button>
                    <button type="delete">Eliminar artículo</button>
                
                </form>
                
            </div>
            <div >
                <article>
                    <h3>
                        <!--Elegir icono.1 seccion 1--> <br>
                        <label for="<%= indexBenefits[i] %>icon<%= i + 2 %>"> <img src="/images/Producto-<%= productToEdit.id %>/<%= productToEdit.Sections[i].Contents[3].text %>" style="width: 5%;"></label><br>
                        <input type="file" name="<%= indexBenefits[i] %>icon<%= i + 2 %>" id="aicon1" accept="image/svg"> <br>
                        <!--Elegir subtitulo.1 seccion 1-->
                        <label for="<%= indexBenefits[i] %>subtitle<%= i + 2 %>">Subtítulo:</label> <br>
                        <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="<%= indexBenefits[i] %>subtitle<%= i + 2 %>" value="<%= productToEdit.Sections[i].Contents[4].text %>"
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <!--Elegir descripcion.1 seccion 1-->
                        <label for="<%= indexBenefits[i] %>description<%= i + 2 %>">Descripcion:</label> <br>
                        <textarea cols="30" rows="5" style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="<%= indexBenefits[i] %>description<%= i + 2 %>"><%= productToEdit.Sections[i].Contents[5].text %></textarea>
                    </p>
                </article>      
                                
                <form action="/products/edited-section" method="post">

                    <button type="submit">Guardar artículo</button>
                    <button type="delete">Eliminar artículo</button>
                
                </form>
                          
            </div>
            <div>
                <article>
                    <h3>
                        <!--Elegir icono.1 seccion 1--> <br>
                        <label for="<%= indexBenefits[i] %>icon<%= i + 3 %>"> <img src="/images/Producto-<%= productToEdit.id %>/<%= productToEdit.Sections[i].Contents[6].text %>" style="width: 5%;"></label><br>
                        <input type="file" name="<%= indexBenefits[i] %>icon<%= i + 3 %>" id="aicon1" accept="image/svg"> <br>
                        <!--Elegir subtitulo.1 seccion 1-->
                        <label for="<%= indexBenefits[i] %>subtitle<%= i + 3 %>">Subtítulo:</label> <br>
                        <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="<%= indexBenefits[i] %>subtitle<%= i + 3 %>" value="<%= productToEdit.Sections[i].Contents[7].text %>"
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <!--Elegir descripcion.1 seccion 1-->
                        <label for="<%= indexBenefits[i] %>description<%= i + 3 %>">Descripcion:</label> <br>
                        <textarea cols="30" rows="5" style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="<%= indexBenefits[i] %>description<%= i + 3 %>"><%= productToEdit.Sections[i].Contents[8].text %></textarea>
                    </p>
                </article>       
                
                <form action="/products/edited-section" method="post">

                    <button type="submit">Guardar artículo</button>
                    <button type="delete">Eliminar artículo</button>
                
                </form>

            </div>
            <div>
                <article>
                    <h3>
                        <!--Elegir icono.1 seccion 1--> <br>
                        <label for="<%= indexBenefits[i] %>icon<%= i + 4 %>"> <img src="/images/Producto-<%= productToEdit.id %>/<%= productToEdit.Sections[i].Contents[9].text %>" style="width: 5%;"></label><br>
                        <input type="file" name="<%= indexBenefits[i] %>icon<%= i + 4 %>" id="aicon1" accept="image/svg"> <br>
                        <!--Elegir subtitulo.1 seccion 1-->
                        <label for="<%= indexBenefits[i] %>subtitle<%= i + 4 %>">Subtítulo:</label> <br>
                        <input type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="<%= indexBenefits[i] %>subtitle<%= i + 4 %>" value="<%= productToEdit.Sections[i].Contents[10].text %>"
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <!--Elegir descripcion.1 seccion 1-->
                        <label for="<%= indexBenefits[i] %>description<%= i + 4 %>">Descripcion:</label> <br>
                        <textarea cols="30" rows="5" style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 100%;" name="<%= indexBenefits[i] %>description<%= i + 4 %>"><%= productToEdit.Sections[i].Contents[11].text %></textarea>
                    </p>

                    <form action="/products/edited-section" method="post">

                        <button type="submit">Guardar artículo</button>
                        <button type="delete">Eliminar artículo</button>
                    
                    </form>

                </article>                
            </div>
            <article>
                <label for="<%= indexBenefits[i] %>image" style="display: block; width: 100%"><img src="/images/Producto-<%= productToEdit.id %>/<%= productToEdit.Sections[i].image %>" style="width: 20%"></label><br>
                <input type="file" name="<%= indexBenefits[i] %>image" id="aimage" accept="image/png"> <br>
            </article>

            <form action="/products/edited-section" method="post">

                <button type="submit">Guardar sección</button>
                <button type="delete">Eliminar sección</button>
            
            </form>
        
        
        </section>
    
        <hr />
        <hr />
        <hr />
    

    <% } %>
    

    <section>
        
        <form action="/products/edited-section" method="post">

            <button type="submit">Continuar</button>
            <button type="reset">Borrar campos</button>
        
        </form>

    </section>



<%- include('../../partials/footer') %>