<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/productos-crear-o-editar.css">
</head>

<%- include('../partials/navbar') %>


<div class="creadorContainer">
    <h1>Editor de productos</h1>
    <h2>Estás editando: <i><%= productToEdit.name %></i></h2>

    <form action="/products/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

        <%- include('../partials/product-form') %>

        <button type="submit" class="submit">Enviar</button>
        <button type="reset" class="reset">Borrar campos</button>
    </form>
    <form action="/products/<%= productToEdit.id %>?_method=DELETE" method="POST">
        <button type="submit" class="delete">Eliminar producto</button>
    </form>
</div>

<%- include('../partials/footer') %>