<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/listado-productos-style.css">
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>

<h1>Listado de productos:</h1>

<% products.forEach(producto => { %>
  <div class="producto">
  <h2><%=producto.name%></h2>
  <img src="/icons/<%= producto.image%>" alt="logo del producto" class="logoProducto">
  <h3><%= producto.titleBanner1 %></h3>
<table class="tabla-productos">
    <thead class=tabla-productos-titulos>
        <tr>
            <th><h2>Planes disponibles</h2></th>
            <% for(let i=0; i<producto.category.length; i++){ %>
              <td><img class="medalla" src="/images/<%= producto.categoryImage[i] %>" alt="imagen de una medalla"><h3> <%= producto.category[i] %> </h3></td>
              <% }; %>

        </tr>
    </thead>
    <tbody class=tabla-productos-cuerpo>
      <tr>
        <td><h4>Cantidad de secciones web:</h4></td>
        <% producto.benefits.cantidadSecciones.forEach(cantidad=> { %>

          <td>
            <p> <%= cantidad %></p>
          </td>
              <%})%>
      </tr>
      <tr>
        <td><h4>Costo por transacción:</h4></td>
        <% producto.benefits.costoTransaccion.forEach(costo=> { %>

          <td>
            <p><%= costo %></p>
          </td>
              <%})%>
      </tr>
      <tr>
        <td><h4>Precio:</h4></td>
            <% producto.price.forEach(precio=> { %>

        <td>
          <p>$ <%= precio %></p>
        </td>
            <%})%>
        
      </tr>
            
    </tbody>
</table>
</div>
<% }); %>




<%- include('../partials/footer') %>