<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/listado-productos-style.css">
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>

<h1>Listado de productos:</h1>

<% products.forEach(product => { %>
<section class="listaContenedor">

  <div class="productoListado">
  <a href="/products/<%= product.id %>">
    <h2><%=product.name%></h2>
    <img src="/images/Producto-<%= product.id %>/<%= product.image %>" alt="logo del producto" class="logoProducto">
  </a>
  <h3><%= product.title_banner %></h3>
<table class="tabla-productos">
    <thead class=tabla-productos-titulos>
        <tr>
            <th><h2>Planes disponibles</h2></th>
            <% for(let i=0; i < product.Categories.length; i++){ %>
              <td><img class="medalla" src="/images/Producto-<%= product.id %>/<%= product.Categories[i].image %>" alt="imagen de una medalla"><h3> <%= product.Categories[i].name %> </h3></td>
            <% }; %>
        </tr>
    </thead>
    <tbody class=tabla-productos-cuerpo>
      <tr>
        <td><h4>Cantidad de secciones</h4></td>
        <% for (let i= 0; i < product.Categories.length; i++) { %>

          <td>
            <p> <%= product.Categories[i].web_sections %></p>
          </td>
        <% } %>
      </tr>
      <tr>
        <td><h4>Costo por transacción</h4></td>
        <% for (let i= 0; i < product.Categories.length; i++) { %>

          <td>
            <p><%= parseFloat(product.Categories[i].transaction_cost_percent.toString()) %> %</p>
          </td>
        <% } %>
      </tr>
      <tr>
        <td><h4>Precio</h4></td>
        <% for (let i= 0; i < product.Categories.length; i++) { %>

        <td>
          <% if (product.Categories[i].price !== 0) { %>
          <p>$ <%= product.Categories[i].price %></p>
          <% } else { %>
          <p>GRATIS</p>
          <% } %>
        </td>
        <% } %>
        
      </tr> 
    </tbody>
</table>
  <div class="botonesContenedor">
    <% if (locals.user != undefined) { %>
    <% if (locals.user.role == "admin") { %>

    <a href="/products/<%= product.id %>/edit" class="botones">Editar</a>

    <% }}  %>

    <div style="width: 1px;"></div>
    <a href="/products/<%= product.id %>" class="botones">Ver más...</a>
    
  </div>
</div>
<% }); %>
<% if (locals.user != undefined) { %>
  <% if ( locals.user.role == "admin") { %>
  <div class="crear-contenedor">
    <a href="/products/create" class="boton-crear">Crear producto nuevo</a>
  </div>
  <% }}  %>
</section>



<%- include('../partials/footer') %>