<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/listado-productos-style.css">
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>

<h1>Listado de productos:</h1>

<% products.forEach(producto => { %>
<section class="listaContenedor">

  <div class="productoListado">
  <a href="/products/<%= producto.id %>">
    <h2><%=producto.name%></h2>
    <img src="/icons/<%= producto.image %>" alt="logo del producto" class="logoProducto">
  </a>
  <h3><%= producto.titleBanner1 %></h3>
<table class="tabla-productos">
    <thead class=tabla-productos-titulos>
        <tr>
            <td><h2>Planes disponibles</h2></td>
            <% for(let i=0; i<producto.category.length; i++){ %>
              <td><img class="medalla" src="/images/<%= producto.categoryImage[i] %>" alt="imagen de una medalla"><h3> <%= producto.category[i] %> </h3></td>
              <% }; %>
        </tr>
    </thead>
    <tbody class=tabla-productos-cuerpo>
      <tr>
        <td><h4><%= producto.benefits.cantidadSecciones[0] %></h4></td>
        <% for (let i= 1; i < producto.benefits.cantidadSecciones.length; i++) { %>

          <td>
            <p> <%= producto.benefits.cantidadSecciones[i] %></p>
          </td>
        <% } %>
      </tr>
      <tr>
        <td><h4><%= producto.benefits.costoTransaccion[0] %></h4></td>
        <% for (let i= 1; i < producto.benefits.costoTransaccion.length; i++) { %>

          <td>
            <p><%= producto.benefits.costoTransaccion[i] %></p>
          </td>
        <% } %>
      </tr>
      <tr>
        <td><h4>Precio</h4></td>
        <% producto.price.forEach(precio=> { %>

        <td>
          <p>$ <%= precio %></p>
        </td>
        <%})%>
        
      </tr> 
    </tbody>
</table>
<form action="/products/<%= producto.id %>">
  <button type="submit" class="producto-verMas">Ver más...</button>
</form>
</div>
<% }); %>

</section>



<%- include('../partials/footer') %>