<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/listado-productos-style.css">
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>


<table class="tabla-productos">
    <thead class=tabla-productos-titulos>
        <tr>
            <td><h1>Lista de productos</h1></td>
            <% products.forEach(producto => { %>
              <td><a href="/products/<%= producto.id %>"><h2><%= producto.name %></h2></a></td>
            <% }); %>

        </tr>
    </thead>
    <tbody class=tabla-productos-cuerpo>
      <tr>
        <td><h3>Plan <%= products[0].category[0] %></h3><img class="medalla" src="/images/plan-oro.png" alt="imagen de una medalla de oro"></td>
        <td>
          <a href="/producto/2">
            <ul>
            <li>Integración con medios de pago y envío</li>
            <li>Diseños personalizables, hosting y dominio propio</li>
            <li>Aplicación de Tu Tienda Web para Android e iOS</li>
            <li>Diseño 100% flexible (via HTML, CSS y JavaScript)</li>
            <li>Múltiples idiomas y monedas</li>
            <li>Integración con MercadoLibre y Amazon</li>
          </ul>
        </a>
        </td>
        <td>
          <a href="/producto/1">
            <ul>
            <li>Dominio Web con el nombre de tu marca</li>
            <li>Atención personalizada de nuestro equipo de marketing</li>
            <li>Plan SEO para posicionarte mejor en Google</li>
            <li>Servicio de Inteligencia de diseño artificial (IDA)</li>
            <li>Carrito de compras</li>
            <li>Hosting gratuito</li>
            <li>Creador de logos profesional</li>
            </ul>
        </a>
        </td>
      </tr>
      <tr>
        <td><h3>Plan Plata</h3><img class="medalla" src="/images/plan-plata.png" alt="imagen de una medalla de plata"></td>
        <td>
          <a href="/producto/2">
          <ul>
            <li>Integración con medios de pago y envío</li>
            <li>Diseños personalizables, hosting y dominio propio</li>
            <li>Aplicación de Tu Tienda Web para Android e iOS</li>
            <li>Soporte via email</li>
            <li>Diseño 100% flexible (via HTML, CSS y JavaScript)</li>
            <li>Soporte vía Whatsapp a partir del primer pago</li>
          </ul>
        </a>
        </td>
        <td>
          <a href="/producto/1">
            <ul>
            <li>Servicio de Inteligencia de diseño artificial (IDA)</li>
            <li>Servicio web Corvid para aplicaciones web</li>
            <li>Acceso a todas nuestras plantillas y accesorios de diseño web</li>
            <li>Hosting gratuito</li>
            <li>Creador de logos profesional</li>
            </ul>
          </a>
        </td>
      </tr>
      <tr>
        <td><h3>Plan Bronce</h3><img class="medalla" src="/images/plan-bronce.png" alt="imagen de una medalla de bronce"></td>
        <td>
          <a href="/producto/2">
          <ul>
            <li>Integración con medios de pago y envío</li>
            <li>Diseños personalizables, hosting y dominio propio</li>
            <li>Aplicación de Tu Tienda Web para Android e iOS</li>
            <li>Soporte via email</li>
            <li>Cupones de descuento y promociónes 2x1 y 3x2</li>
            <li>Estadísticas avanzadas de tu negocio</li>
          </ul>
          </a>
        </td>
        <td>
          <a href="/producto/1">
            <ul>
            <li>Acceso a todas nuestras plantillas y accesorios de diseño web</li>
            <li>Herramientas para diseño adaptativo</li>
            <li>Hosting gratuito</li>
          </ul>
        </a>
      </td>
      </tr>
    </tbody>
</table>





<%- include('../partials/footer') %>