<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/producto-style.css">
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>

        <section class="banner">
            <a href="/products"><img src="/images/tutiendaweb-banner-sd.gif"></a>
        </section>
    
        <section class="banner1">
            <h2>
                 <%= product.title_banner %>
            </h2>
            <p>
                <%= product.subtitle_banner %>
            </p>
            <form action="#contenedorProductos" method="GET">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        
            <section class="disenoBlanco">
                <article class="disenoBlanco-article1">
                    <h2 class="disenoBlanco-article1-tituloPrincipal">
                        <%= product.Sections[0].title %>
                    </h2>
                </article>
                <div class="disenoBlanco-containerArticle2">
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo">
                            <img src="/images/Producto-<%= product.id %>/<%= product.Sections[0].Contents[0].text %>" class="icon" alt=""> <br>
                            <%= product.Sections[0].Contents[1].text %>
                        </h3>
                        <p  class="disenoBlanco-article2-parrafo">
                            <%= product.Sections[0].Contents[2].text %>
                        </p>
                    </article>
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo">
                            <img src="/images/Producto-<%= product.id %>/<%= product.Sections[0].Contents[3].text %>" class="icon" alt=""> <br>
                            <%= product.Sections[0].Contents[4].text %>
                        </h3>
                        <p  class="disenoBlanco-article2-parrafo">
                            <%= product.Sections[0].Contents[5].text %>
                        </p>
                    </article>
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo">
                            <img src="/images/Producto-<%= product.id %>/<%= product.Sections[0].Contents[6].text %>" class="icon" alt=""> <br>
                            <%= product.Sections[0].Contents[7].text %>
                        </h3>
                        <p  class="disenoBlanco-article2-parrafo">
                            <%= product.Sections[0].Contents[8].text %>
                        </p>
                    </article>
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo">
                            <img src="/images/Producto-<%= product.id %>/<%= product.Sections[0].Contents[9].text %>" class="icon" alt=""> <br>
                            <%= product.Sections[0].Contents[10].text %>
                        </h3>
                        <p  class="disenoBlanco-article2-parrafo">
                            <%= product.Sections[0].Contents[11].text %>
                        </p>
                    </article>
                </div>
                <article class="disenoBlanco-articleImg">
                    <img src="/images/Producto-<%= product.id %>/<%= product.Sections[0].image %>" alt="">
                </article>
                <form action="#contenedorProductos" method="GET"   class="disenoBlanco-form">
                    <button>
                        Empezá ya
                    </button>
                </form>
        </section>
         

        <section class="disenoAzul">
            <article class="disenoAzul-article1">
                <h2 class="disenoAzul-article1-tituloPrincipal">
                    <%= product.Sections[1].title %>
                </h2>
            </article>
            <article class="disenoAzul-articleImg">
                <img src="/images/Producto-<%= product.id %>/<%= product.Sections[1].image %>" alt="">
            </article>
            <div class="disenoAzul-containerArticle2">
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[1].Contents[0].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[1].Contents[1].text %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.Sections[1].Contents[2].text %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[1].Contents[3].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[1].Contents[4].text %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.Sections[1].Contents[5].text %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[1].Contents[6].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[1].Contents[7].text %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.Sections[1].Contents[8].text %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[1].Contents[9].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[1].Contents[10].text %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.Sections[1].Contents[11].text %>
                    </p>
                </article>
            </div>
            <form action="#contenedorProductos" method="GET"   class="disenoAzul-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoBlanco">
            <article class="disenoBlanco-article1">
                <h2 class="disenoBlanco-article1-tituloPrincipal">
                    <%= product.Sections[2].title %>
                </h2>
            </article>
            <div class="disenoBlanco-containerArticle2">
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[2].Contents[0].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[2].Contents[1].text %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.Sections[2].Contents[2].text %>
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[2].Contents[3].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[2].Contents[4].text %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.Sections[2].Contents[5].text %>
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[2].Contents[6].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[2].Contents[7].text %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.Sections[2].Contents[8].text %>
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[2].Contents[9].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[2].Contents[10].text %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.Sections[2].Contents[11].text %>
                    </p>
                </article>
            </div>
            <article class="disenoBlanco-articleImg">
                <img src="/images/Producto-<%= product.id %>/<%= product.Sections[2].image %>" alt="">
            </article>
            <form action="#contenedorProductos" method="GET"   class="disenoBlanco-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoAzul">
            <article class="disenoAzul-article1">
                <h2 class="disenoAzul-article1-tituloPrincipal">
                    <%= product.Sections[3].title %>
                </h2>
            </article>
            <article class="disenoAzul-articleImg">
                <img src="/images/Producto-<%= product.id %>/<%= product.Sections[3].image %>" alt="">
            </article>
            <div class="disenoAzul-containerArticle2">
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[3].Contents[0].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[3].Contents[1].text %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.Sections[3].Contents[2].text %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[3].Contents[3].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[3].Contents[4].text %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.Sections[3].Contents[5].text %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[3].Contents[6].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[3].Contents[7].text %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.Sections[3].Contents[8].text %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[3].Contents[9].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[3].Contents[10].text %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.Sections[3].Contents[11].text %>
                    </p>
                </article>
            </div>
            <form action="#contenedorProductos" method="GET"   class="disenoAzul-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoBlanco" id="vendeEnMasCanales">
            <article class="disenoBlanco-article1">
                <h2 class="disenoBlanco-article1-tituloPrincipal">
                    <%= product.Sections[4].title %>
                </h2>
            </article>
            <div class="disenoBlanco-containerArticle2">
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[4].Contents[0].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[4].Contents[1].text %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.Sections[4].Contents[2].text %>
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[4].Contents[3].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[4].Contents[4].text %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.Sections[4].Contents[5].text %>
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[4].Contents[6].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[4].Contents[7].text %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.Sections[4].Contents[8].text %>
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/images/Producto-<%= product.id %>/<%= product.Sections[4].Contents[9].text %>" class="icon" alt=""> <br>
                        <%= product.Sections[4].Contents[10].text %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.Sections[4].Contents[11].text %>
                    </p>
                </article>
            </div>
            <article class="disenoBlanco-articleImg">
                <img src="/images/Producto-<%= product.id %>/<%= product.Sections[4].image %>" alt="">
            </article>
            <form action="#contenedorProductos" method="GET"   class="disenoBlanco-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="contenedorProductos" id="contenedorProductos">
            <h2>¡Elegí una de nuestras suscripciones y potenciá tu negocio digitalmente!</h2>
            <img class="productos-img" src="/images/Producto-<%= product.id %>/<%= product.image %>" alt="imagen de una tienda">
                    <table>
                        <tr>
                            <th>
                                <div class="tdDiv">
                                    <p>Beneficio</p>
                                </div>
                            </th>
                        <% product.Categories.forEach (category => { %>
                            <th> 
                                <div class="contenedorMedalla tdDiv">
                                    <img class="medalla" src="/images/Producto-<%= product.id %>/<%= category.image %>" alt="imagen de medalla" style="align-self: center;">
                                </div>
                            </th>
                        <% }) %>
                        </tr>
                        <tr>
                            <td>
                                <div class="tdDiv">
                                    <p>Costo por transacción</p>
                                </div>
                            </td>
                            <% for (i=0; i < product.Categories.length; i++) { %>
                                <td class="beneficio">
                                    <div class="tdDiv">
                                        <p><%= parseFloat(product.Categories[i].transaction_cost_percent.toString()) %> %</p>
                                    </div>
                                </td>
                            <% } %>
                        </tr>
                        <% for (let i = 0; i < product.Categories[0].Benefits.length; i++) { %>
                        <tr>  
                            <td class="beneficio">
                                <div class="tdDiv">
                                    <%= product.Categories[0].Benefits[i].name %>
                                </div>
                            </td>
                                <% for (let j = 0; j < product.Categories.length; j++) { %>
                                    <td class="beneficio">
                                        <div class="tdDiv">
                                            <% if (product.Categories[j].Benefits[i] != null) { %>
                                                <i class="fas fa-check"></i>
                                            <% } else if (product.Categories[j].Benefits[i] == null) { %>
                                                <i class="fas fa-times"></i>
                                            <% } %>
                                        </div>
                                    </td>
                                <% } %>
                         <% } %>
                        </tr>
                        <tr>
                            <td>
                                <div class="tdDiv">
                                    <p>Cantidad de secciones</p>
                                </div>
                            </td>
                            <% for (i=0; i < product.Categories.length; i++) { %>
                                <td class="beneficio">
                                    <div class="tdDiv">
                                        <p><%= product.Categories[i].web_sections %></p>
                                    </div>
                                </td>
                            <% } %>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                <div class="tdDiv">
                                    Subscribirse
                                </div>
                            </td>
                            <% for (let i=0; i < product.Categories.length; i++) { %>
                            <td>
                                <div class="tdDiv">
                                    <form action="/carrito" method="get">
                                        <button>
                                            <% if (product.Categories[i].price !== 0) { %>
                                                <p>$ <%= product.Categories[i].price %></p>
                                                <% } else { %>
                                                <p>GRATIS</p>
                                                <% } %>
                                        </button>
                                    </form>
                                </div>
                            </td>
                            <% } %>
                        </tr>
                    </table>
    </section>

<%- include('../partials/footer') %>