<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/producto2-style.css">
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>

        <section class="banner">
            <a href="/"><img src="/images/tutiendaweb-banner-sd.gif"></a>
        </section>
    
        <section class="banner1">
            <h2>
                <%= product.titleBanner1 %>
            </h2>

            <p>
                <%= product.subtitleBaner1 %>
            </p>
            <form action="#contenedorProductos" method="GET">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        
            <section class="disenoBlanco">
                <h2 class="disenoBlanco-article1-tituloPrincipal">
                    <%= product.seccion1.title %>
                </h2>
                <div class="disenoBlanco-containerArticle2">
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo">
                            <i class="fas fa-tasks"></i> <br>
                            <%= product.seccion1.subtitle1 %>
                        </h3>
                        <p  class="disenoBlanco-article2-parrafo">
                            <%= product.seccion1.description1 %>
                        </p>
                    </article>
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo">
                            <i class='fas fa-robot'></i> <br>
                            <%= product.seccion1.subtitle2 %>
                        </h3>
                        <p  class="disenoBlanco-article2-parrafo">
                            <%= product.seccion1.description2 %>
                        </p>
                    </article>
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo">
                            <i class='fas fa-truck'></i> <br>
                            <%= product.seccion1.subtitle3 %>
                        </h3>
                        <p  class="disenoBlanco-article2-parrafo">
                            <%= product.seccion1.description3 %>
                        </p>
                    </article>
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo">
                            <i class='fas fa-money-bill-wave'></i> <br>
                            <%= product.seccion1.subtitle4 %>
                        </h3>
                        <p  class="disenoBlanco-article2-parrafo">
                            <%= product.seccion1.description4 %>
                        </p>
                    </article>
                </div>
                <article class="disenoBlanco-articleImg">
                    <img src="/images/<%= product.seccion1.image %>" alt="">
                </article>
                <form action="#contenedorProductos" method="GET"   class="disenoBlanco-form">
                    <button>
                        Empezá ya
                    </button>
                </form>
        </section>
         

        <section class="disenoAzul">
            <article class="disenoAzul-article1">
                <h2 class="disenoAzul-article1-tituloPrincipal">
                    <%= product.seccion2.title %>
                </h2>
            </article>
            <article class="disenoAzul-articleImg">
                <img src="/images/<%= product.seccion2.image %>" alt="">
            </article>
            <div class="disenoAzul-containerArticle2">
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <i class="fas fa-palette"></i> <br>
                        <%= product.seccion2.subtitle1 %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.seccion2.description1 %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <i class="fas fa-network-wired"></i> <br>
                        <%= product.seccion2.subtitle2 %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.seccion2.description2 %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <i class="fas fa-truck"></i> <br>
                        <%= product.seccion2.subtitle3 %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.seccion2.description3 %>
                    </p>
                </article>
            </div>
            <form action="#contenedorProductos" method="GET"   class="disenoAzul-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoBlanco">
            <article class="disenoBlanco-article1">
                <h2 class="disenoBlanco-article1-tituloPrincipal">
                    <%= product.seccion3.title %>
                </h2>
            </article>
            <div class="disenoBlanco-containerArticle2">
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <i class="fas fa-align-center"></i> <br>
                        <%= product.seccion3.subtitle1 %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.seccion3.description1 %>
                    </p>
                </article>
            </div>
            <article class="disenoBlanco-articleImg">
                <img src="/images/<%= product.seccion3.image %>" alt="">
            </article>
            <form action="#contenedorProductos" method="GET"   class="disenoBlanco-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoAzul">
            <article class="disenoAzul-article1">
                <h2 class="disenoAzul-article1-tituloPrincipal">
                    <%= product.seccion4.title %>
                </h2>
            </article>
            <article class="disenoAzul-articleImg">
                <img src="/images/<%= product.seccion4.image %>" alt="">
            </article>
            <div class="disenoAzul-containerArticle2">
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <i class="fab fa-google"></i> <br>
                        <%= product.seccion4.subtitle1 %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.seccion4.description1 %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <i class="fab fa-amazon"></i> <br>
                        <%= product.seccion4.subtitle2 %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.seccion4.description2 %>
                    </p>
                </article>
            </div>
            <form action="#contenedorProductos" method="GET"   class="disenoAzul-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoBlanco" id="vendeEnMasCanales">
            <article class="disenoBlanco-article1">
                <h2 class="disenoBlanco-article1-tituloPrincipal">
                    <%= product.seccion5.title %>
                </h2>
            </article>
            <div class="disenoBlanco-containerArticle2">
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <i class="fab fa-instagram"></i> <br>
                        <%= product.seccion5.subtitle1 %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.seccion5.description1 %>
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <i class="fab fa-whatsapp"></i> <br>
                        <%= product.seccion5.subtitle2 %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.seccion5.description2 %>
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <i class="fab fa-facebook"></i> <br>
                        <%= product.seccion5.subtitle3 %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.seccion5.description2 %>
                    </p>
                </article>
            </div>
            <article class="disenoBlanco-articleImg">
                <img src="/images/tus-seguidores-tus-clientes.jpg" alt="">
            </article>
            <form action="#contenedorProductos" method="GET"   class="disenoBlanco-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="contenedorProductos" id="contenedorProductos">
                <h2>¡Elegí una de nuestras suscripciones y potenciá tu negocio digitalmente!</h2>
                <img class="productos-img" src="/icons/<%= product.image %>" alt="imagen de una tienda">
                        <table>
                            <tr>
                                <th>Beneficio</th>
                                <th> 
                                    <div class="contenedorMedalla">
                                        <img class="medalla" src="/images/<%= product.categoryImage[0] %>" alt="imagen de una medalla de oro">
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <img class="medalla" src="/images/<%= product.categoryImage[1] %>" alt="imagen de una medalla de plata">
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <img class="medalla" src="/images/<%= product.categoryImage[2] %>" alt="imagen de una medalla de bronce">
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Costo por transacción
                                </td>
                                <td>
                                    <%= product.benefits.costoTransaccion[0] %>%
                                </td>
                                <td>
                                    <%= product.benefits.costoTransaccion[1] %>%
                                </td>
                                <td>
                                    <%= product.benefits.costoTransaccion[2] %>%
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Cantidad de secciones
                                </td>
                                <td>
                                    <%= product.benefits.cantidadSecciones[0] %>
                                </td>
                                <td>
                                    <%= product.benefits.cantidadSecciones[1] %>
                                </td>
                                <td>
                                    <%= product.benefits.cantidadSecciones[2] %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Productos, visitas y ventas ilimitados
                                </td>
                                <td>
                                    <% if (product.benefits.ventasIlimitadas[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.ventasIlimitadas[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.ventasIlimitadas[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.ventasIlimitadas[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.ventasIlimitadas[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.ventasIlimitadas[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Diseños personalizables
                                </td>
                                <td>
                                    <% if (product.benefits.disenoPersonalizables[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.disenoPersonalizables[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.disenoPersonalizables[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.disenoPersonalizables[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.disenoPersonalizables[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.disenoPersonalizables[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Integración con medios de pago
                                </td>
                                <td>
                                    <% if (product.benefits.mediosDePago[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.mediosDePago[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.mediosDePago[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.mediosDePago[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.mediosDePago[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.mediosDePago[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Integración con medios de envío
                                </td>
                                <td>
                                    <% if (product.benefits.mediosDeEnvio[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.mediosDeEnvio[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.mediosDeEnvio[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.mediosDeEnvio[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.mediosDeEnvio[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.mediosDeEnvio[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Gestión de productos y manejo de stock
                                </td>
                                <td>
                                    <% if (product.benefits.gestionStock[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.gestionStock[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.gestionStock[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.gestionStock[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.gestionStock[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.gestionStock[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Configuración de dominio propio
                                </td>
                                <td>
                                    <% if (product.benefits.dominioPropio[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.dominioPropio[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.dominioPropio[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.dominioPropio[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.dominioPropio[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.dominioPropio[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Seguimiento de estadísticas con Google Analytics
                                </td>
                                <td>
                                    <% if (product.benefits.estadisticasGoogle[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.estadisticasGoogle[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.estadisticasGoogle[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.estadisticasGoogle[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.estadisticasGoogle[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.estadisticasGoogle[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Configuración de códigos de tracking y conversión
                                </td>
                                <td>
                                    <% if (product.benefits.trackingConversion[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.trackingConversion[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.trackingConversion[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.trackingConversion[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.trackingConversion[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.trackingConversion[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Hosting y certificado SSL incluido
                                </td>
                                <td>
                                    <% if (product.benefits.hostingSSL[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.hostingSSL[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.hostingSSL[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.hostingSSL[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.hostingSSL[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.hostingSSL[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Aplicación de <em>Tu Tienda Web</em> para Android e iOS
                                </td>
                                <td>
                                    <% if (product.benefits.appAndroidIOS[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.appAndroidIOS[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.appAndroidIOS[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.appAndroidIOS[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.appAndroidIOS[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.appAndroidIOS[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Carritos abandonados
                                </td>
                                <td>
                                    <% if (product.benefits.carritosAbandonados[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.carritosAbandonados[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.carritosAbandonados[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.carritosAbandonados[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.carritosAbandonados[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.carritosAbandonados[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Configuración de puntos de entrega
                                </td>
                                <td>
                                    <% if (product.benefits.textosMasivos[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.textosMasivos[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.textosMasivos[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.textosMasivos[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.textosMasivos[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.textosMasivos[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Carga y actualización masiva de los textos de productos
                                </td>
                                <td>
                                    <% if (product.benefits.textosMasivos[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.textosMasivos[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.textosMasivos[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.textosMasivos[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.textosMasivos[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.textosMasivos[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Teclado Tu Tienda Web
                                </td>
                                <td>
                                    <% if (product.benefits.tecladoWeb[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.tecladoWeb[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.tecladoWeb[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.tecladoWeb[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.tecladoWeb[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.tecladoWeb[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Soporte via email
                                </td>
                                <td>
                                    <% if (product.benefits.soporteMail[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.soporteMail[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.soporteMail[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.soporteMail[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.soporteMail[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.soporteMail[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Promociones 2x1 y 3x2
                                </td>
                                <td>
                                    <% if (product.benefits.promociones[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.promociones[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.promociones[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.promociones[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.promociones[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.promociones[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Cupones de descuento
                                </td>
                                <td>
                                    <% if (product.benefits.cuponesDescuento[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.cuponesDescuento[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.cuponesDescuento[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.cuponesDescuento[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.cuponesDescuento[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.cuponesDescuento[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Personalización del SEO
                                </td>
                                <td>
                                    <% if (product.benefits.personalizacionSEO[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.personalizacionSEO[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.personalizacionSEO[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.personalizacionSEO[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.personalizacionSEO[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.personalizacionSEO[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Estadísticas avanzadas de tu negocio
                                </td>
                                <td>
                                    <% if (product.benefits.estadisticasNegocio[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.estadisticasNegocio[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.estadisticasNegocio[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.estadisticasNegocio[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.estadisticasNegocio[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.estadisticasNegocio[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Instagram shopping, Facebook Store y Google Shopping
                                </td>
                                <td>
                                    <% if (product.benefits.redesSocialesStores[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.redesSocialesStores[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.redesSocialesStores[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.redesSocialesStores[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.redesSocialesStores[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.redesSocialesStores[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Diseño 100% flexible (via HTML, CSS y JavaScript)
                                </td>
                                <td>
                                    <% if (product.benefits.disenioFlexible[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.disenioFlexible[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.disenioFlexible[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.disenioFlexible[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.disenioFlexible[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.disenioFlexible[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Soporte vía Whatsapp a partir del primer pago
                                </td>
                                <td>
                                    <% if (product.benefits.soporteWhatsapp[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.soporteWhatsapp[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.soporteWhatsapp[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.soporteWhatsapp[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.soporteWhatsapp[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.soporteWhatsapp[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Múltiples idiomas y monedas
                                </td>
                                <td>
                                    <% if (product.benefits.multiplesIdiomasYMonedas[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.multiplesIdiomasYMonedas[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.multiplesIdiomasYMonedas[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.multiplesIdiomasYMonedas[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.multiplesIdiomasYMonedas[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.multiplesIdiomasYMonedas[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Integración con MercadoLibre y Amazon
                                </td>
                                <td>
                                    <% if (product.benefits.integracionMLAmazon[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.integracionMLAmazon[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.integracionMLAmazon[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.integracionMLAmazon[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.integracionMLAmazon[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.integracionMLAmazon[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Subscribirse
                                </td>
                                <td>
                                    <form action="/carrito" method="get">
                                        <button>
                                            $<%= product.price[0] %>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/carrito" method="get">
                                        <button>
                                            $<%= product.price[1] %>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/carrito" method="get">
                                        <button>
                                            $<%= product.price[2] %>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </table>
        </section>

<%- include('../partials/footer') %>