<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/producto2-style.css">
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>

        <section class="banner">
            <a href="/"><img src="/images/tutiendaweb-banner-sd.gif"></a>
        </section>
    
        <section class="banner1">
            <h2>
                 <%= product.titleBanner1 %>
            </h2>
            <p>
                <%= product.subtitleBaner1 %>
            </p>
            <form action="#contenedorProductos" method="GET">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        
            <section class="disenoBlanco">
                <article class="disenoBlanco-article1">
                    <h2 class="disenoBlanco-article1-tituloPrincipal">
                        <%= product.seccion1.atitle %>
                    </h2>
                </article>
                <div class="disenoBlanco-containerArticle2">
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo">
                            <img src="/icons/<%= product.seccion1.aicon1 %>" class="icon" alt=""> <br>
                            <%= product.seccion1.asubtitle1 %>
                        </h3>
                        <p  class="disenoBlanco-article2-parrafo">
                            <%= product.seccion1.adescription1 %>
                        </p>
                    </article>
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo">
                            <img src="/icons/<%= product.seccion1.aicon2 %>" class="icon" alt=""> <br>
                            <%= product.seccion1.asubtitle2 %>
                        </h3>
                        <p  class="disenoBlanco-article2-parrafo">
                            <%= product.seccion1.adescription2 %>
                        </p>
                    </article>
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo">
                            <img src="/icons/<%= product.seccion1.aicon3 %>" class="icon" alt=""> <br>
                            <%= product.seccion1.asubtitle3 %>
                        </h3>
                        <p  class="disenoBlanco-article2-parrafo">
                            <%= product.seccion1.adescription3 %>
                        </p>
                    </article>
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo">
                            <img src="/icons/<%= product.seccion1.aicon4 %>" class="icon" alt=""> <br>
                            <%= product.seccion1.asubtitle4 %>
                        </h3>
                        <p  class="disenoBlanco-article2-parrafo">
                            <%= product.seccion1.adescription4 %>
                        </p>
                    </article>
                </div>
                <article class="disenoBlanco-articleImg">
                    <img src="/images/<%= product.seccion1.aimage %>" alt="">
                </article>
                <form action="#contenedorProductos" method="GET"   class="disenoBlanco-form">
                    <button>
                        Empezá ya
                    </button>
                </form>
        </section>
         

        <section class="disenoAzul">
            <article class="disenoAzul-article1">
                <h2 class="disenoAzul-article1-tituloPrincipal">
                    <%= product.seccion2.btitle %>
                </h2>
            </article>
            <article class="disenoAzul-articleImg">
                <img src="/images/<%= product.seccion2.bimage %>" alt="">
            </article>
            <div class="disenoAzul-containerArticle2">
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/icons/<%= product.seccion2.bicon1 %>" class="icon" alt=""> <br>
                        <%= product.seccion2.bsubtitle1 %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.seccion2.bdescription1 %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/icons/<%= product.seccion2.bicon2 %>" class="icon" alt=""> <br>
                        <%= product.seccion2.bsubtitle2 %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.seccion2.bdescription2 %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/icons/<%= product.seccion2.bicon3 %>" class="icon" alt=""> <br>
                        <%= product.seccion2.bsubtitle3 %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.seccion2.bdescription3 %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/icons/<%= product.seccion2.bicon4 %>" class="icon" alt=""> <br>
                        <%= product.seccion2.bsubtitle4 %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.seccion2.bdescription4 %>
                    </p>
                </article>
            </div>
            <form action="#contenedorProductos" method="GET"   class="disenoAzul-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoBlanco">
            <article class="disenoBlanco-article1">
                <h2 class="disenoBlanco-article1-tituloPrincipal">
                    <%= product.seccion3.ctitle %>
                </h2>
            </article>
            <div class="disenoBlanco-containerArticle2">
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/icons/<%= product.seccion3.cicon1 %>" class="icon" alt=""> <br>
                        <%= product.seccion3.csubtitle1 %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.seccion3.cdescription1 %>
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/icons/<%= product.seccion3.cicon2 %>" class="icon" alt=""> <br>
                        <%= product.seccion3.csubtitle2 %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.seccion3.cdescription2 %>
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/icons/<%= product.seccion3.cicon3 %>" class="icon" alt=""> <br>
                        <%= product.seccion3.csubtitle3 %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.seccion3.cdescription3 %>
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/icons/<%= product.seccion3.cicon4 %>" class="icon" alt=""> <br>
                        <%= product.seccion3.csubtitle4 %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.seccion3.cdescription4 %>
                    </p>
                </article>
            </div>
            <article class="disenoBlanco-articleImg">
                <img src="/images/<%= product.seccion3.cimage %>" alt="">
            </article>
            <form action="#contenedorProductos" method="GET"   class="disenoBlanco-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoAzul">
            <article class="disenoAzul-article1">
                <h2 class="disenoAzul-article1-tituloPrincipal">
                    <%= product.seccion4.dtitle %>
                </h2>
            </article>
            <article class="disenoAzul-articleImg">
                <img src="/images/<%= product.seccion4.dimage %>" alt="">
            </article>
            <div class="disenoAzul-containerArticle2">
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/icons/<%= product.seccion4.dicon1 %>" class="icon" alt=""> <br>
                        <%= product.seccion4.dsubtitle1 %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.seccion4.ddescription1 %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/icons/<%= product.seccion4.dicon2 %>" class="icon" alt=""> <br>
                        <%= product.seccion4.dsubtitle2 %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.seccion4.ddescription2 %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/icons/<%= product.seccion4.dicon3 %>" class="icon" alt=""> <br>
                        <%= product.seccion4.dsubtitle3 %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.seccion4.ddescription3 %>
                    </p>
                </article>
                <article class="disenoAzul-article2">
                    <h3 class="disenoAzul-article2-titulo">
                        <img src="/icons/<%= product.seccion4.dicon4 %>" class="icon" alt=""> <br>
                        <%= product.seccion4.dsubtitle4 %>
                    </h3>
                    <p  class="disenoAzul-article2-parrafo">
                        <%= product.seccion4.ddescription4 %>
                    </p>
                </article>
            </div>
            <form action="#contenedorProductos" method="GET"   class="disenoAzul-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="disenoBlanco" id="vendeEnMasCanales">
            <article class="disenoBlanco-article1">
                <h2 class="disenoBlanco-article1-tituloPrincipal">
                    <%= product.seccion5.etitle %>
                </h2>
            </article>
            <div class="disenoBlanco-containerArticle2">
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/icons/<%= product.seccion5.eicon1 %>" class="icon" alt=""> <br>
                        <%= product.seccion5.esubtitle1 %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.seccion5.edescription1 %>
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/icons/<%= product.seccion5.eicon2 %>" class="icon" alt=""> <br>
                        <%= product.seccion5.esubtitle2 %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.seccion5.edescription2 %>
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/icons/<%= product.seccion5.eicon3 %>" class="icon" alt=""> <br>
                        <%= product.seccion5.esubtitle3 %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.seccion5.edescription2 %>
                    </p>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        <img src="/icons/<%= product.seccion5.eicon4 %>" class="icon" alt=""> <br>
                        <%= product.seccion5.esubtitle4 %>
                    </h3>
                    <p  class="disenoBlanco-article2-parrafo">
                        <%= product.seccion5.edescription4 %>
                    </p>
                </article>
            </div>
            <article class="disenoBlanco-articleImg">
                <img src="/images/<%= product.seccion5.eimage %>" alt="">
            </article>
            <form action="#contenedorProductos" method="GET"   class="disenoBlanco-form">
                <button>
                    Empezá ya
                </button>
            </form>
        </section>

        <section class="contenedorProductos" id="contenedorProductos">
            <h2>¡Elegí una de nuestras suscripciones y potenciá tu negocio digitalmente!</h2>
            <img class="productos-img" src="/icons/<%= product.image %>" alt="imagen de una tienda">
                    <table>
                        <tr>
                            <th>Beneficio</th>
                            <th> 
                                <div class="contenedorMedalla">
                                    <img class="medalla" src="/images/<%= product.categoryImage[0] %>" alt="imagen de una medalla de oro">
                                </div>
                            </th>
                            <th>
                                <div>
                                    <img class="medalla" src="/images/<%= product.categoryImage[1] %>" alt="imagen de una medalla de plata">
                                </div>
                            </th>
                            <th>
                                <div>
                                    <img class="medalla" src="/images/<%= product.categoryImage[2] %>" alt="imagen de una medalla de bronce">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Costo por transacción
                            </td>
                            <td>
                                <%= product.benefits.costoTransaccion[0] %>
                            </td>
                            <td>
                                <%= product.benefits.costoTransaccion[1] %>
                            </td>
                            <td>
                                <%= product.benefits.costoTransaccion[2] %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Cantidad de secciones
                            </td>
                            <td>
                                <%= product.benefits.cantidadSecciones[0] %>
                            </td>
                            <td>
                                <%= product.benefits.cantidadSecciones[1] %>
                            </td>
                            <td>
                                <%= product.benefits.cantidadSecciones[2] %>
                            </td>
                        </tr>

                        <% if (product.type == 'tiendaWeb') { %>
                        
                            <tr>
                            <td class="beneficio">
                                Productos, visitas y ventas ilimitados
                            </td>
                            <td>
                                <% if (product.benefits.a[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.a[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.a[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.a[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.a[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.a[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Diseños personalizables
                            </td>
                            <td>
                                <% if (product.benefits.b[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.b[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.b[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.b[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.b[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.b[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Integración con medios de pago
                            </td>
                            <td>
                                <% if (product.benefits.c[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.c[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.c[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.c[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.c[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.c[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Integración con medios de envío
                            </td>
                            <td>
                                <% if (product.benefits.d[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.d[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.d[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.d[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.d[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.d[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Gestión de productos y manejo de stock
                            </td>
                            <td>
                                <% if (product.benefits.e[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.e[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.e[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.e[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.e[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.e[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Configuración de dominio propio
                            </td>
                            <td>
                                <% if (product.benefits.f[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.f[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.f[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.f[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.f[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.f[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Seguimiento de estadísticas con Google Analytics
                            </td>
                            <td>
                                <% if (product.benefits.g[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.g[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.g[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.g[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.g[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.g[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Configuración de códigos de tracking y conversión
                            </td>
                            <td>
                                <% if (product.benefits.h[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.h[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.h[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.h[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.h[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.h[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Hosting y certificado SSL incluido
                            </td>
                            <td>
                                <% if (product.benefits.i[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.i[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.i[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.i[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.i[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.i[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Aplicación de <em>Tu Tienda Web</em> para Android e iOS
                            </td>
                            <td>
                                <% if (product.benefits.j[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.j[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.j[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.j[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.j[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.j[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Carritos abandonados
                            </td>
                            <td>
                                <% if (product.benefits.k[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.k[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.k[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.k[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.k[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.k[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Configuración de puntos de entrega
                            </td>
                            <td>
                                <% if (product.benefits.l[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.l[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.l[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.l[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.l[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.l[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Carga y actualización masiva de los textos de productos
                            </td>
                            <td>
                                <% if (product.benefits.m[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.m[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.m[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.m[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.m[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.m[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Teclado Tu Tienda Web
                            </td>
                            <td>
                                <% if (product.benefits.n[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.n[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.n[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.n[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.n[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.n[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Soporte via email
                            </td>
                            <td>
                                <% if (product.benefits.o[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.o[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.o[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.o[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.o[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.o[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Promociones 2x1 y 3x2
                            </td>
                            <td>
                                <% if (product.benefits.p[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.p[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.p[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.p[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.p[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.p[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Cupones de descuento
                            </td>
                            <td>
                                <% if (product.benefits.q[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.q[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.q[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.q[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.q[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.q[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Personalización del SEO
                            </td>
                            <td>
                                <% if (product.benefits.r[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.r[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.r[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.r[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.r[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.r[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Estadísticas avanzadas de tu negocio
                            </td>
                            <td>
                                <% if (product.benefits.s[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.s[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.s[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.s[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.s[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.s[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Instagram shopping, Facebook Store, Mailchimp y Google Shopping
                            </td>
                            <td>
                                <% if (product.benefits.t[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.t[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.t[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.t[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.t[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.t[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Diseño 100% flexible (via HTML, CSS y JavaScript)
                            </td>
                            <td>
                                <% if (product.benefits.u[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.u[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.u[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.u[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.u[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.u[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Soporte vía Whatsapp a partir del primer pago
                            </td>
                            <td>
                                <% if (product.benefits.u[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.u[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.u[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.u[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.u[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.u[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Múltiples idiomas y monedas
                            </td>
                            <td>
                                <% if (product.benefits.w[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.w[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.w[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.w[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.w[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.w[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio">
                                Integración con Marketplaces.
                            </td>
                            <td>
                                <% if (product.benefits.w[0] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.w[0] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.w[1] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.w[1] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                            <td>
                                <% if (product.benefits.w[2] == true) { %>
                                    <i class="fas fa-check"></i>
                                <% } %> <% if (product.benefits.w[2] == false) { %>
                                    <i class="fas fa-times"></i>
                                <% } %>
                            </td>
                        </tr>
                        <% } %>
                        <% if (product.type == 'paginaWeb') { %>                     
                            <tr>
                                <td class="beneficio">
                                    Plantillas Ilimitadas
                                </td>
                                <td>
                                    <% if (product.benefits.a[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.a[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.a[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.a[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.a[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.a[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Diseños responsive
                                </td>
                                <td>
                                    <% if (product.benefits.b[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.b[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.b[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.b[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.b[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.b[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Hosting gratuito
                                </td>
                                <td>
                                    <% if (product.benefits.c[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.c[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.c[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.c[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.c[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.c[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Inteligencia de diseño artificial (IDA)
                                </td>
                                <td>
                                    <% if (product.benefits.d[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.d[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.d[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.d[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.d[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.d[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Corvid de aplicaciones profesionales
                                </td>
                                <td>
                                    <% if (product.benefits.e[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.e[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.e[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.e[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.e[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.e[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Creador de logos
                                </td>
                                <td>
                                    <% if (product.benefits.f[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.f[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.f[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.f[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.f[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.f[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Dominio con tu marca personalizada
                                </td>
                                <td>
                                    <% if (product.benefits.g[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.g[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.g[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.g[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.g[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.g[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Atención personalizada de nuestro equipo de marketing
                                </td>
                                <td>
                                    <% if (product.benefits.h[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.h[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.h[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.h[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.h[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.h[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Plan SEO de Google
                                </td>
                                <td>
                                    <% if (product.benefits.i[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.i[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.i[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.i[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.i[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.i[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td class="beneficio">
                                    Carrito de compras
                                </td>
                                <td>
                                    <% if (product.benefits.j[0] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.j[0] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.j[1] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.j[1] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                                <td>
                                    <% if (product.benefits.j[2] == true) { %>
                                        <i class="fas fa-check"></i>
                                    <% } %> <% if (product.benefits.j[2] == false) { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </td>
                            </tr>
                        <% } %>
                        <tr>
                            <td class="beneficio">
                                Subscribirse
                            </td>
                            <td>
                                <form action="/carrito" method="get">
                                    <button>
                                        $<%= product.price[0] %>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form action="/carrito" method="get">
                                    <button>
                                        $<%= product.price[1] %>
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form action="/carrito" method="get">
                                    <button>
                                        $<%= product.price[2] %>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </table>
    </section>

<%- include('../partials/footer') %>