<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/producto-style.css">
    <link rel="stylesheet" href="/stylesheets/crear-editar-style.css">
</head>

<%- include('../../partials/navbar') %>

<div class="creadorContainer">
    <h1 class="titulo">Creador de beneficios</h1>

<section class="contenedorProductos" id="contenedorProductos">
    <table>
    <form action="/products" method="POST" enctype="multipart/form-data">
        
        <% for (let i= 0; i < indexBenefits.length; i++) { %>          
            <tr>
                <td class="beneficio fontSize">
                    <div class="tdDiv">
                        <!--Elegir titulo beneficio 1-->
                        <label for="<%= indexBenefits[i] %>[0]">Beneficio:</label> <br>
                        <input class="inputBeneficio" type="text" name="<%= indexBenefits[i] %>[0]" <% if (typeof productToEdit != 'undefined' ) { %> <% if (productToEdit.Categories[0].Benefits[i] != undefined) { %> value="<%= productToEdit.Categories[0].Benefits[i].name %>" <% } } else { %> placeholder="Escribí aquí el beneficio" <% } %>>
                    </div>
                </td>
                <td>
                    <div class="tdDiv">
                        <input class="inputBeneficio" type="checkbox" name="<%= indexBenefits[i] %>[1]" value="true" style="align-self: center;" <% if (typeof productToEdit != 'undefined' && productToEdit.Categories[0].Benefits[i] != undefined) { %> checked <% } %>>
                    </div>
                </td>
                <td>
                    <div class="tdDiv">
                        <input class="inputBeneficio" type="checkbox" name="<%= indexBenefits[i] %>[2]" value="true" style="align-self: center;" <% if (typeof productToEdit != 'undefined' && productToEdit.Categories[1].Benefits[i] != undefined) { %> checked <% } %>>
                    </div>
                </td>
                <td>
                    <div class="tdDiv">
                        <input type="checkbox" name="<%= indexBenefits[i] %>[3]" value="true" style="align-self: center;" <% if (typeof productToEdit != 'undefined' && productToEdit.Categories[2].Benefits[i] != undefined) { %> checked <% } %>>
                    </div>
                </td>
            </tr>
            <% } %>
        </table>
</section>

        <div class="buttons-form">
            <button type="reset" class="reset">Borrar campos</button>
            <button type="submit" class="submit">Enviar</button>
        </div>
        
    </form>
</div>

<%- include('../../partials/footer') %>