<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/producto-style.css">
    <link rel="stylesheet" href="/stylesheets/crear-editar-style.css">
</head>

<%- include('../partials/navbar') %>



<div class="creadorContainer">
    <h1 class="titulo">Creador de productos</h1>

    <form action="/products" method="POST" enctype="multipart/form-data">
        
       
        <label for="name"style="padding: 5px; width: 100%; text-align:center;">Elegí el nombre del producto:</label> <br>
<input required type="text" style="padding: 5px; width: 50%; text-align:center; border-color: rgba(0, 0, 0, 1); border-width: 0.1px; margin: auto;" name="name" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.name %>" <% } else { %> placeholder="Escribí aquí el nombre del producto" <% } %>> <br>
 
<!--Elegir tipo de producto-->
<label for="type" style="padding: 5px; width: 100%; text-align:center;">Elegí el tipo de producto:</label> <br>
<select required style="padding: 5px; width: 15%; text-align:center; border-color: rgba(0, 0, 0, 1); border-width: 0.1px; margin: auto;" name="type" <% if (typeof productToEdit != 'undefined' ) { %> placeholder="Seleccioná una opción" <% } %>>
    <option value="pagina_web" <% if (typeof productToEdit != 'undefined' && productToEdit.type == 'pagina_web') { %> selected="selected" <% } %> >Página Web</option>
    <option value="tienda_web" <% if (typeof productToEdit != 'undefined' && productToEdit.type == 'tienda_web') { %> selected="selected" <% } %> >Tienda Web</option>
</select>
<!--Elegir imagen del producto-->
<label style="display: block; padding: 5px; width: 100%; text-align:center;margin-top: 1%;" for="image">Elegí una imagen que describa el producto:</label>
<input style="margin: 1% auto" type="file" name="image" id="image">

</div>

<section class="banner1">
    <h2>
        <!--elegí el título del Banner 1-->
        <label for="titleBanner1">Titulo principal:</label>
        <input required type="text" style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 50%;" name="titleBanner1" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.title_banner %>" <% } else { %> placeholder="Escribí el texto aquí..." <% } %>>
    </h2>
    <p>
        <!--elegí el título del Banner 1-->
        <label for="subtitleBanner1">Subtítulo principal:</label>
        <input required type="text"  style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 40%;" name="subtitleBanner1" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.subtitle_banner %>" <% } else { %> placeholder="Escribí el texto aquí..." <% } %>>
    </p>
</section>

        <div class="buttons-form">
            <button type="reset" class="reset">Borrar campos</button>
            <button type="submit" class="submit">Enviar</button>
        </div>
        
    </form>
</div>

<%- include('../partials/footer') %>