<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/error.css">
</head>
<body>
    <main class="error-main">
        <div class="error-messages">
            <div class="error-messages-status">
                <h1><%= message %></h1>
                <h2><%= error.status %></h2>
            </div>
            <div class="error-messages-info">
                <h3>La ruta <%= url %> no exíste</h3>
                <p>Asegurate de haber escrito bien la dirección URL...</p>
            </div>
                
            </div>
        
        <img src="/images/not-found.gif" alt="La página no existe" class="error-image">
        
        <div class="error-nav">
            <a href="#" onclick="history.back()">Volver a la página anterior</a>
            <a href="/">Volver a Inicio</a>
        </div>

        <!-- <div class="error-developers">
            <h3>Información para desarrolladores:</h3>
            <pre><%= error.stack %></pre>
        </div> -->
        

    </main>

    
</body>
</html>