<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/producto-style.css">
    <link rel="stylesheet" href="/stylesheets/crear-editar-style.css">
    <script src="/js/validationBenefits.js" defer></script>
</head>

<%- include('../../partials/navbar') %>

<div class="creadorContainer">
    <% if (typeof newID == 'undefined') { %>
        <h1 class="titulo">Editor de beneficios: <%= product.name %></h1>
        <form action="/products/<%= product.id %>/edit/benefits?_method=PUT" method="POST" id="formToEdit">
    <% } else { %>
        <h1 class="titulo">Creador de beneficios nuevos</h1>
        <form action="/products/<%= newID %>/create/benefits" method="POST" id="formToCreate">
    <% } %>
</div>
    
        <section class="contenedorProductos" id="contenedorProductos">
            <table>
                <tr>
                    <td class="beneficio fontSize">
                        <div class="tdDiv">
                            <!--Categorías-->
                            <h2 class="categoriesTitles subrayado"><em>Categorías:</em></h2> <br>
                        </div>
                    </td>
                    <td>
                        <div class="tdDiv">
                            <h2 class="categoriesTitles"><%= product.Categories[0].name %></h2>   
                        </div>
                    </td>
                    <td>
                        <div class="tdDiv">
                            <h2 class="categoriesTitles"><%=  product.Categories[1].name %></h2>     
                        </div>
                    </td>
                    <td>
                        <div class="tdDiv">
                            <h2 class="categoriesTitles"><%= product.Categories[2].name %></h2>   
                        </div>
                    </td>
                </tr>
                   
                
        <% if (typeof newID == 'undefined') { %>
                <% var index = 0; %>
                <% benefits.forEach(benefit => { %>          
                    <tr>
                        <td class="beneficio fontSize">
                            <div class="tdDiv">
                                <!--Elegir titulo beneficio 1-->
                                <label for="benefit<%= benefit.id %>Name">Beneficio:</label> <br>
                                <input class="benefitsNames inputBeneficio" type="text" name="benefit<%= benefit.id %>Name" value="<%= benefit.name %>">
                                <div class="messageBenefitsErrors"> </div>
                                <div class="messageAsociationErrors"></div>

                            </div>
                        </td>
                        <td>
                            <div class="tdDiv">
                                <input class="<%= `checkboxes${index}` %>"type="checkbox" name="benefit<%= benefit.id %>Cat1" value="true" style="align-self: center;" <% if ((typeof benefit.Categories[0] != 'undefined' && benefit.Categories[0].id == product.Categories[0].id) || (typeof benefit.Categories[1] != 'undefined' && benefit.Categories[1].id == product.Categories[0].id) || (typeof benefit.Categories[2] != 'undefined' && benefit.Categories[2].id == product.Categories[0].id)) { %> checked <% } %>>
                            </div>
                        </td>
                        <td>
                            <div class="tdDiv">
                                <input class="<%= `checkboxes${index}` %>" type="checkbox" name="benefit<%= benefit.id %>Cat2" value="true" style="align-self: center;" <% if ((typeof benefit.Categories[0] != 'undefined' && benefit.Categories[0].id == product.Categories[1].id) || (typeof benefit.Categories[1] != 'undefined' && benefit.Categories[1].id == product.Categories[1].id) || (typeof benefit.Categories[2] != 'undefined' && benefit.Categories[2].id == product.Categories[1].id)) { %> checked <% } %>>
                            </div>
                        </td>
                        <td>
                            <div class="tdDiv">
                                <input class="<%= `checkboxes${index}` %>" type="checkbox" name="benefit<%= benefit.id %>Cat3" value="true" style="align-self: center;" <% if ((typeof benefit.Categories[0] != 'undefined' && benefit.Categories[0].id == product.Categories[2].id) || (typeof benefit.Categories[1] != 'undefined' && benefit.Categories[1].id == product.Categories[2].id) || (typeof benefit.Categories[2] != 'undefined' && benefit.Categories[2].id == product.Categories[2].id)) { %> checked <% } %>>
                            </div>
                        </td>
                    </tr>
                    <% index++ %>
                    <% }) %>
        <% } %>
        <% if (typeof newID != 'undefined') { %>
            <% if (typeof benefits != 'undefined') { %>
                <% benefits.forEach(benefit => { %>  
                <tr>  
                    <td class="beneficio">
                        <div class="tdDiv">
                            <%= benefit.name %>
                        </div>
                    </td>
                        <% for (let j = 0; j < product.Categories.length; j++) { %>
                            <td class="beneficio">
                                <div class="tdDiv">
                                    <% if ((typeof benefit.Categories[0] != 'undefined' && benefit.Categories[0].id == product.Categories[j].id) || (typeof benefit.Categories[1] != 'undefined' && benefit.Categories[1].id == product.Categories[j].id) || (typeof benefit.Categories[2] != 'undefined' && benefit.Categories[2].id == product.Categories[j].id)) { %>
                                        <i class="fas fa-check"></i>
                                    <% } else { %>
                                        <i class="fas fa-times"></i>
                                    <% } %>
                                </div>
                            </td>
                        <% } %>
                </tr>
                
                 <% }) } %>
                        <tr>
                            <td class="beneficio fontSize">
                                <div class="tdDiv">
                                    <!--Elegir titulo beneficio 1-->
                                    <label for="newBenefitName">Beneficio:</label> <br>
                                    <input class="inputBeneficio" type="text" name="newBenefitName" placeholder="Escribí aquí el beneficio">
                                </div>
                            </td>
                            <td>
                                <div class="tdDiv">
                                    <input class="inputBeneficio" type="checkbox" name="newBenefitCat1" value="true" style="align-self: center;">
                                </div>
                            </td>
                            <td>
                                <div class="tdDiv">
                                    <input class="inputBeneficio" type="checkbox" name="newBenefitCat2" value="true" style="align-self: center;">
                                </div>
                            </td>
                            <td>
                                <div class="tdDiv">
                                    <input class="inputBeneficio" type="checkbox" name="newBenefitCat3" value="true" style="align-self: center;">
                                </div>
                            </td>
                        </tr> 
        <% } %>
                </table>
        </section>

        <div class="buttons-form">
            <button type="reset" class="reset">Borrar campos</button>

            <button type="submit" class="submit" id="formButton">Guardar beneficio</button>
            <% if (typeof newID == 'undefined') { %>
                <a class="submit" href="/products/<%= product.id %>/edit/sections">SIGUIENTE DEV</a>
            <% } else { %>
                <a class="submit" href="/products/<%= newID %>/create/sections">SIGUIENTE DEV</a> 
            <% } %>
        </div>
        
    </form>
</div>

<%- include('../../partials/footer') %>