<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/producto-style.css">
    <link rel="stylesheet" href="/stylesheets/crear-editar-style.css">
</head>

<%- include('../../partials/navbar') %>

<div class="creadorContainer">
    <% if (typeof productToEdit != 'undefined') { %>
        <h1 class="titulo">Editor de beneficios: <%= productToEdit.name %></h1>
        <form action="/products/<%= productToEdit.id %>/edit/benefits?_method=PUT" method="POST">
    <% } else { %>
        <h1 class="titulo">Creador de beneficios nuevos</h1>
        <form action="/products/create/benefits" method="POST">
    <% } %>
</div>
 
        <section class="contenedorProductos" id="contenedorProductos">
            <table>
            
                <% if (typeof productToEdit != 'undefined') { %>
                <% var index = 0; %>
                <% productToEdit.Categories[0].Benefits.forEach(benefit => { %>          
                    <tr>
                        <td class="beneficio fontSize">
                            <div class="tdDiv">
                                <!--Elegir titulo beneficio 1-->
                                <label for="<%= indexBenefits[index] %>[0]">Beneficio:</label> <br>
                                <input class="inputBeneficio" type="text" name="<%= indexBenefits[index] %>[0]" <% if (typeof productToEdit != 'undefined' ) { %> <% if (productToEdit.Categories[0].Benefits[index] != undefined) { %> value="<%= productToEdit.Categories[0].Benefits[index].name %>" <% } } else { %> placeholder="Escribí aquí el beneficio" <% } %>>
                            </div>
                        </td>
                        <td>
                            <div class="tdDiv">
                                <input class="inputBeneficio" type="checkbox" name="<%= indexBenefits[index] %>[1]" value="true" style="align-self: center;" <% if (productToEdit.Categories[0].Benefits[index] != undefined) { %> checked <% } %>>
                            </div>
                        </td>
                        <td>
                            <div class="tdDiv">
                                <input class="inputBeneficio" type="checkbox" name="<%= indexBenefits[index] %>[2]" value="true" style="align-self: center;" <% if (productToEdit.Categories[1].Benefits[index] != undefined) { %> checked <% } %>>
                            </div>
                        </td>
                        <td>
                            <div class="tdDiv">
                                <input type="checkbox" name="<%= indexBenefits[index] %>[3]" value="true" style="align-self: center;" <% if (productToEdit.Categories[2].Benefits[index] != undefined) { %> checked <% } %>>
                            </div>
                        </td>
                    </tr>
                    <% index++ %>
                    <% })} else { %>
                        <tr>
                            <td class="beneficio fontSize">
                                <div class="tdDiv">
                                    <!--Elegir titulo beneficio 1-->
                                    <label for="<%= indexBenefits[index] %>[0]">Beneficio:</label> <br>
                                    <input class="inputBeneficio" type="text" name="<%= indexBenefits[index] %>[0]" <% if (typeof productToEdit != 'undefined' ) { %> <% if (productToEdit.Categories[0].Benefits[index] != undefined) { %> value="<%= productToEdit.Categories[0].Benefits[index].name %>" <% } } else { %> placeholder="Escribí aquí el beneficio" <% } %>>
                                </div>
                            </td>
                            <td>
                                <div class="tdDiv">
                                    <input class="inputBeneficio" type="checkbox" name="<%= indexBenefits[index] %>[1]" value="true" style="align-self: center;">
                                </div>
                            </td>
                            <td>
                                <div class="tdDiv">
                                    <input class="inputBeneficio" type="checkbox" name="<%= indexBenefits[index] %>[2]" value="true" style="align-self: center;">
                                </div>
                            </td>
                            <td>
                                <div class="tdDiv">
                                    <input type="checkbox" name="<%= indexBenefits[index] %>[3]" value="true" style="align-self: center;">
                                </div>
                            </td>
                        </tr> 
                    <% } %>
                </table>
        </section>


        <div class="buttons-form">
            <button type="reset" class="reset">Borrar campos</button>
            <button type="submit" class="submit">Siguiente</button>
            <% if (typeof productToEdit != 'undefined') { %>
                <a href="/products/<%= productToEdit.id %>/edit/sections">SIGUIENTE DEV</a>
            <% } else { %>
                <a href="/products/create/sections">SIGUIENTE DEV</a> 
            <% } %>
        </div>
        
    </form>
</div>

<%- include('../../partials/footer') %>