<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/producto-style.css">
    <link rel="stylesheet" href="/stylesheets/crear-editar-style.css">
</head>

<%- include('../../partials/navbar') %>

<div class="creadorContainer">
    <% if (typeof productToEdit != 'undefined') { %>
        <h1 class="titulo">Editor de categorías: <%= productToEdit.name %></h1>
        <form action="/products/<%= productToEdit.id %>/edit/categories?_method=PUT" method="POST" enctype="multipart/form-data">
    <% } else { %>
        <h1 class="titulo">Creador de categorías</h1>
        <form action="/products/<%= newID %>/create/categories" method="POST" enctype="multipart/form-data">
    <% } %>

    <form action="/products" method="POST" enctype="multipart/form-data">
        

        <section class="contenedorProductos" id="contenedorProductos">
            <h2>¡Hacé las suscripciones a tu medida y potenciá tu negocio digitalmente!</h2>
            
                    <table>
                        <tr>
                            <th class="fontSize">
                                <div class="tdDiv">
                                    Categorías del producto:
                                </div>
                            </th>
                            <th> 
                                <div class="contenedorMedalla tdDiv">
                                    <!--Elegir nombre de la categoria 1-->
                                    <label class="block" for="category1">Nombre de categoría 1</label>
                                    <input required class="block" style="width:50%" type="text" name="category1" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.Categories[0].name %>" <% } else { %> placeholder="Ejemplo: Oro" <% } %>>
                                </div>
                            </th>
                            <th>
                                <div class="contenedorMedalla tdDiv">
                                    <!--Elegir nombre de la categoria 2-->
                                    <label class="block" for="category2">Nombre de categoría 2</label>
                                    <input required class="block" style="width:50%" type="text" name="category2" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.Categories[1].name %>" <% } else { %> placeholder="Ejemplo: Plata" <% } %>">
                                </div>
                            </th>
                            <th>
                                <div class="contenedorMedalla tdDiv">
                                    <!--Elegir nombre de la categoria 3-->
                                    <label class="block" for="category3">Nombre de categoría 3</label>
                                    <input required class="block" style="width:50%" type="text" name="category3" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.Categories[2].name %>" <% } else { %> placeholder="Ejemplo: Bronce" <% } %>">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="fontSize">
                                <div class="tdDiv">
                                    Imágenes:
                                </div>
                            </th>
                            <th> 
                                <div class="contenedorMedalla tdDiv">
                                    <!--Elegir imagen de la categoria 1-->
                                    <label class="labelPointer fontSize" for="categoryImage1">Clickea aquí y sube el logo de la categoría 1</label>
                                    <input class="inputNone" type="file" name="categoryImage1" id="categoryImage1" accept="image/png image/jpg" >
                                </div>
                            </th>
                            <th>
                                <div class="contenedorMedalla tdDiv">
                                    <!--Elegir imagen de la categoria 2-->
                                    <label class="labelPointer fontSize" for="categoryImage2">Clickea aquí y sube el logo de la categoría 2</label>
                                    <input class="inputNone" type="file" name="categoryImage2" id="categoryImage2" accept="image/png image/jpg">
                                </div>
                            </th>
                            <th>
                                <div class="contenedorMedalla tdDiv">
                                    <!--Elegir imagen de la categoria 3-->
                                    <label class="labelPointer fontSize" for="categoryImage3">Clickea aquí y sube el logo de la categoría 3</label>
                                    <input class="inputNone" type="file" name="categoryImage3" id="categoryImage3" accept="image/png image/jpg">
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td class="beneficio fontSize">
                                <div class="tdDiv">
                                    Costo por transacción                       
                                </div>
                            </td>
                            <td>
                                <div class="tdDiv">
                                    <!--Elegir costo por transacción categoria 1-->
                                    <label class="fontSize" for="costoTransaccion[1]">Costo transacción 1:</label>
                                    <input type="number" name="costoTransaccion[1]" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.Categories[0].transaction_cost_percent %>" <% } else { %> placeholder="Valor porcentual %" <% } %> id="costoTransaccion[1]">
                                </div>
                            </td>
                            <td>
                                <div class="tdDiv">
                                    <!--Elegir costo por transacción categoria 2-->
                                    <label class="fontSize" for="costoTransaccion[2]">Costo transacción 2:</label>
                                    <input type="number" name="costoTransaccion[2]" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.Categories[1].transaction_cost_percent %>" <% } else { %> placeholder="Valor porcentual %" <% } %> id="costoTransaccion[2]">
                                </div>
                            </td>
                            <td>
                                <div class="tdDiv">
                                    <!--Elegir costo por transacción categoria 3-->
                                    <label class="fontSize" for="costoTransaccion[3]">Costo transacción 3:</label>
                                    <input type="number" name="costoTransaccion[3]" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.Categories[2].transaction_cost_percent %>" <% } else { %> placeholder="Valor porcentual %" <% } %>  id="costoTransaccion[3]">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="beneficio fontSize">
                                <div class="tdDiv">
                                    Cantidad de secciones
                                </div>
                            </td>
                            <td>
                                <div class="tdDiv">
                                    <!--Elegir cantidad de secciones categoria 1-->
                                    <label class="fontSize" for="cantidadSecciones1">Cantidad secciones 1:</label>
                                    <input type="number" name="cantidadSecciones1" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.Categories[0].web_sections %>" <% } else { %> placeholder="Ingresá un numero" <% } %>  id="cantidadSecciones1">
                                </div>
                            </td>
                            <td>
                                <div class="tdDiv">
                                    <!--Elegir cantidad de secciones categoria 2-->
                                    <label class="fontSize" for="cantidadSecciones2">Cantidad secciones 2:</label>
                                    <input type="number" name="cantidadSecciones2" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.Categories[1].web_sections %>" <% } else { %> placeholder="Ingresá un numero" <% } %>id="cantidadSecciones2">
                                </div>
                            </td>
                            <td>
                                <div class="tdDiv">
                                    <!--Elegir cantidad de secciones categoria 3-->
                                    <label class="fontSize" for="cantidadSecciones3">Cantidad secciones 3:</label>
                                    <input type="number" name="cantidadSecciones3" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.Categories[2].web_sections %>" <% } else { %> placeholder="Ingresá un numero" <% } %> id="cantidadSecciones3">
                                </div>
                            </td>
                        </tr>
                <tr>
                    <td class="beneficio fontSize">
                        <div class="tdDiv">
                            Subscribirse
                        </div>
                    </td>
                    <td>
                        <div class="tdDiv">
                            <input type="number" name="price[0]" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.Categories[0].price %>" <% } else { %> placeholder="$ / mensual" <% } %>>
                        </div>
                    </td>
                    <td>
                        <div class="tdDiv">
                            <input type="number" name="price[1]" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.Categories[1].price %>" <% } else { %> placeholder="$ / mensual" <% } %>>
                        </div>
                    </td>
                    <td>
                        <div class="tdDiv">
                            <input type="number" name="price[2]" <% if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.Categories[2].price %>" <% } else { %> placeholder="$ / mensual" <% } %>>
                        </div>
                    </td>
                </tr>
            </table>
        </section>

        <div class="buttons-form">
            <button type="reset" class="reset">Borrar campos</button>
            <button type="submit" class="submit">Siguiente</button>
        </div>
        
    </form>
</div>

<%- include('../../partials/footer') %>