<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/producto-style.css">
    <link rel="stylesheet" href="/stylesheets/crear-editar-style.css">
</head>

<%- include('../../partials/navbar') %>

<% if (typeof productToEdit != 'undefined') { %>
    <h1 class="titulo">Editor de contenidos: <%= productToEdit.name %></h1>
    <form action="/products/<%= productToEdit.id %>/edit/contents?_method=PUT" method="POST">
<% } else { %>

        <h1 class="titulo">Creador de contenidos nuevos</h1>
        <article class="descripcion">

            <p>En esta sección estarás creando contenido adicional al producto que se agregará al detalle del mismo para venderlo mejor. <br> Puntualmente se le agregará un ícono, un subtitulo y una descripción.</p>
            
        </article>


        <% if (typeof sectionToCreate == 'undefined') { %>
            <section>

                <ul class="selectSection"> <h3 style="text-align: center;">Hacé click en el titulo de la sección que querés editar:</h3>
                    <% section.forEach( sec => { %>
                        <li>
                            <a href="/products/<%= newID %>/create/contents/<%= sec.id %>"><%=sec.title%></a>
                        </li>
                    <% }) %>
                    </ul>
        
            </section>
        <% } %>


        <% if (typeof sectionToCreate != 'undefined') {%>

            <form action="" method="POST" enctype="multipart/form-data">

                <label for="contentIcon">Elegí el ícono del contenido que estás por crear:</label>
                <input type="file" name="contentIcon" id="contentIcon" accept="image/svg" style="display: block;">

                
                <label for="contentSubtitle">Elegí el subtítulo del contenido que estás por crear:</label>
                <input type="text" name="contentSubtitle" id="contentSubtitle" placeholder="Escribe el texto aqui..." style="width: 100%; border: 1px solid black; margin: 16px auto;">
        
                <label for="contentDescription">Elegí la descripción del contenido que estás por crear:</label>
                <input type="text" name="contentDescription" id="contentDescription" placeholder="Escribe el texto aqui..." style="width: 100%; border: 1px solid black; margin: 16px auto;">
        
                <button type="submit" class="reset" style="display: block;">Guardar y seguir creando</button>
        
            </form>
        
            <div style="display: flex; justify-content: space-around; flex-wrap: nowrap;">

                    <section class="disenoBlanco" style="width: 25%;">
                        <article class="disenoBlanco-article1">
                            <h2 class="disenoBlanco-article1-tituloPrincipal" style="font-size: 15px;">
                                <!--Elegir titulo seccion 1-->
                                <%= sectionToCreate.title %>
                            </h2>
                        </article>
                        <div class="disenoBlanco-containerArticle2">
                            <article class="disenoBlanco-article2">
                            <% if (typeof sectionToCreate.Contents != 'undefined') { %>
                                <% sectionToCreate.Contents.forEach(con => { %>
                                    <%if (con.type == 'icon') {%>
                                        <img src="/images/Producto-<%= productToCreate.id %>/<%= con.text %>" alt="" style="width: 50%;">
                                    <% } %>

                                    <% if (con.type == 'subtitle') { %>
                                        <h3 class="disenoBlanco-article2-titulo" style="margin: auto; font-size: 12px;">
                                            <%= con.text  %>
                                        </h3>
                                    <% } %>    
                                    <% if (con.type == 'description') {%>
                                        <p>  <%= con.text  %> </p>
                                    <% } %>
                                <% }) %>
                            <% } else { %>

                                <p>Sección de contenido, se edita luego</p>

                            <% } %>
                        </div>
                        <article class="disenoBlanco-articleImg">
                            <img src="/images/Producto-<%= productToCreate.id %>/<%= sectionToCreate.image %>" alt="imagen descriptiva de las características del producto">
                        </article>
                
                    </section>              
        
            </div>
        
            <div class="buttons-form">

                <button class="submit"><a style="text-decoration: none; color: black;" href="/products/<%= productToCreate.id %>/create/contents">Volver y crear en otra sección</a></button>
        
                <button class="submit"><a style="text-decoration: none; color: black;" href="/products">Siguiente</a></button>


            </div>
            
        <% } %>
<% } %>


<%- include('../../partials/footer') %>