<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/producto-style.css">
    <link rel="stylesheet" href="/stylesheets/crear-editar-style.css">
</head>

<%- include('../../partials/navbar') %>


<div class="creadorContainer">
    <% if (typeof productToEdit != 'undefined') { %>
        <h1 class="titulo">Editor de producto: <%= productToEdit.name %></h1>
        <form action="/products/<%= productToEdit.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data" id="formToEdit">
    <% } else { %>
        <h1 class="titulo">Creador de producto nuevo</h1>
        <form action="/products/create" method="POST" enctype="multipart/form-data" id="formToCreate">
    <% } %>
        
       
<label class="nombre-producto" for="name"style="padding: 5px; width: 100%; tenterxt-align:ce;">Elegí el nombre del producto:</label> <br>
<input class="nombre-producto" required type="text" id="productName" style="padding: 10px; width: 30%; text-align:center; border-color: rgba(0, 0, 0, 1); border-width: 0.1px;" name="name" <% if (typeof body != 'undefined') { %> value="<%= body.name %>" <% } else if (typeof productToEdit != 'undefined') { %> value="<%= productToEdit.name %>" <% } else { %> placeholder="Escribí aquí el nombre del producto" <% } %>> <br>
<div id="productNameError"></div>
<% if (typeof errors != "undefined") {
    errors.forEach ( error => { 
        if (error.param == "name") { %>
            <p class="errors"><%= error.msg %></p>
    <% } }) } %>
<!--Elegir tipo de producto-->
<label class="tipo-producto" for="type" style="padding: 5px; width: 100%; text-align:center;">Elegí el tipo de producto:</label> <br>
<select class="tipo-producto" required style="padding: 5px; width: 15%; text-align:center; border-color: rgba(0, 0, 0, 1); border-width: 0.1px; " name="type">
    <option value="pagina_web" <% if (typeof productToEdit != 'undefined' && productToEdit.type == 'pagina_web') { %> selected="selected" <% } %> >Página Web</option>
    <option value="tienda_web" <% if (typeof productToEdit != 'undefined' && productToEdit.type == 'tienda_web') { %> selected="selected" <% } %> >Tienda Web</option>
</select>
<!--Elegir imagen del producto-->
<label style="display: block; margin-left: 30px; padding: 5px; width: 100%; text-align:center;margin-top: 1%;" for="image">Elegí una imagen que describa el producto:</label>
<input class="imagen-producto" id="productImage" style="margin: 1% auto" type="file" name="image" id="image">
<div id="productImageError"></div>
<% if (typeof errors != "undefined") {
    errors.forEach ( error => { 
        if (error.param == "image") { %>
            <p class="errors"><%= error.msg %></p>
    <% } }) } %>
</div>

<section class="banner1">
    <h2>
        <!--elegí el título del Banner 1-->
        <label for="titleBanner1">Titulo principal:</label>
        <input required type="text" id="bannerTitle" style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 50%;" name="titleBanner1" <% if (typeof body != 'undefined') { %> value="<%= body.titleBanner1 %>" <% } else if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.title_banner %>" <% } else { %> placeholder="Escribí el texto aquí..." <% } %>>
    </h2>
    <div id="bannerTitleError"></div>
    <% if (typeof errors != "undefined") {
        errors.forEach ( error => { 
            if (error.param == "titleBanner1") { %>
                <p class="errors"><%= error.msg %></p>
        <% } }) } %>
    <p>
        <!--elegí el título del Banner 1-->
        <label for="subtitleBanner1">Subtítulo principal:</label>
        <input required type="text" id="bannerSubtitle" style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 40%;" name="subtitleBanner1" <% if (typeof body != 'undefined') { %> value="<%= body.subtitleBanner1 %>" <% } else if (typeof productToEdit != 'undefined' ) { %> value="<%= productToEdit.subtitle_banner %>"  <% } else { %> placeholder="Escribí el texto aquí..." <% } %>>
    </p>
    <div id="bannerSubtitleError"></div>
    <% if (typeof errors != "undefined") {
        errors.forEach ( error => { 
            if (error.param == "subtitleBanner1") { %>
                <p class="errors"><%= error.msg %></p>
        <% } }) } %>
</section>

        <div class="buttons-form">
            <button type="reset" class="reset">Borrar campos</button>
            <button type="submit" id="formButton" class="submit">Siguiente</button>
        </div>
        
    </form>
</div>

<%- include('../../partials/footer') %>