<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/producto-style.css">
    <link rel="stylesheet" href="/stylesheets/crear-editar-style.css">
</head>

<%- include('../../partials/navbar') %>

<% if (typeof productToEdit != 'undefined') { %>
    <h1 class="titulo">Editor de secciones: <%= productToEdit.name %></h1>
    <form action="/products/<%= productToEdit.id %>/edit/sections?_method=PUT" method="POST">
<% } else { %>
    <h1 class="titulo">Creador de secciones nuevas</h1>
    <form action="/products/<%= newID %>/create/sections" method="POST">
<% } %>

<section>
    <article>
        <h2>
            <!--Elegir titulo seccion 1-->
            <label for="atitle">Titulo seccion</label> <br>
            <input required type="text" style="padding: 5px; margin: 2% auto; border-radius: 3px;width: 60%;" name="atitle" placeholder="Escribí el texto aquí...">
        </h2>
    </article>
    
    <article>
        <label for="aimage" style="display: block; width: 100%"><i class="far fa-file-image" style="width: 100%; text-align: center;"></i></label><br>
        <input type="file" name="aimage" id="aimage" accept="image/png"> <br>
    </article>

        <div class="buttons-form">
            <button type="reset" class="reset">Borrar campos</button>
            <button type="submit" class="submit">Siguiente</button>
            <% if (typeof productToEdit != 'undefined') { %>
                <a href="/products/<%= productToEdit.id %>/edit/contents">SIGUIENTE DEV</a>
            <% } else { %>
                <a href="/products/create/contents">SIGUIENTE DEV</a> 
            <% } %>
        </div>
        
    </form>



</section>


<%- include('../../partials/footer') %>