<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/producto-style.css">
    <link rel="stylesheet" href="/stylesheets/crear-editar-style.css">
</head>

<%- include('../../partials/navbar') %>

<% if (typeof productToEdit != 'undefined') { %>
    <h1 class="titulo">Editor de secciones: <%= productToEdit.name %></h1>

    <article class="descripcion">

        <p>En esta sección estarás editando contenido del producto que se muestra por parámetro y que luego se modificará en el detalle del mismo para venderlo mejor.</p>
        
    </article>

    <section>

        <ul class="selectSection"> <h3 style="text-align: center;">Hacé click en el titulo de la sección que querés editar:</h3>
            <% productToEdit.Sections.forEach( section => { %>
                <li>
                    <a href="/products/<%=section.product_id %>/edit/sections/<%= section.id %>"><%=section.title%></a>
                </li>
            <% }) %>
            </ul>

    </section>


    <% if (typeof sectionToEdit != 'undefined' ) { %>

        <div class="editFormContainer">

            <form action="/products/<%= productToEdit.id %>/edit/sections/<%= sectionToEdit.id %>/edited-section?_method=PUT" method="POST" enctype="multipart/form-data">
    
                <input type="text" name="editSectionTitle" id="editTitle" class="editTextInput" value="<%= sectionToEdit.title %>">
        
                <label for="editSectionImage" style="padding: 10px; margin: auto;"><p style="text-align: center; margin: 2px; cursor: pointer;">Selecciona la imagen</p></label>
                <input type="file" name="editSectionImage" id="editImage" style="align-self: center;">
                
                <button type="submit" class="submit" style="margin: 5px auto; display: block;">Guardar</button>
        
            </form>
    
        </div>

        <section class="disenoBlanco">
            <article class="disenoBlanco-article1">
                <h2 class="disenoBlanco-article1-tituloPrincipal">
                    <%= sectionToEdit.title %>
                </h2>
            </article>
            <div class="disenoBlanco-containerArticle2">
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        Sección de contenido, se edita luego
                    </h3>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        Sección de contenido, se edita luego
                    </h3>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        Sección de contenido, se edita luego
                    </h3>
                </article>
                <article class="disenoBlanco-article2">
                    <h3 class="disenoBlanco-article2-titulo">
                        Sección de contenido, se edita luego
                    </h3>
                </article>
            </div>
            <article class="disenoBlanco-articleImg">
                <img src="/images/Producto-<%= productToEdit.id %>/<%= sectionToEdit.image %>" alt="imagen descriptiva de las características del producto">
            </article>
            <form action="#contenedorProductos" method="GET"   class="disenoBlanco-form">
                <button>
                    Empezá ya
                </button>
            </form>
    </section>    

    <% } %>

    <div class="sectionContainer"></div>

    <div class="buttons-form">

        <button class="submit"><a style="text-decoration: none; color: black;" href="/products/<%= productToEdit.id %>/edit/contents">Siguiente</a></button>

    </div>
        
<% } else { %>
    <h1 class="titulo">Creador de secciones nuevas</h1>

    <article class="descripcion">

        <p>En esta sección estarás creando contenido adicional al producto que se agregará al detalle del mismo para venderlo mejor. <br> Puntualmente se le agregará un título y una imagen únicamente.</p>
        
    </article>

    <form action="/products/<%= newID %>/create/sections" method="POST" enctype="multipart/form-data">
        
        <label for="sectionTitle">Elegí el título de la sección que estás por crear:</label>
        <input type="text" name="sectionTitle" id="sectionTitle" placeholder="Escribe el texto aqui..." style="width: 100%; border: 1px solid black; margin: 16px auto;">

        <label for="sectionImage">Elegí la imagen de la sección que estás por crear:</label>
        <input type="file" name="sectionImage" id="sectionImage" accept="image/png image/jpg" style="display: block;">

        <button type="submit" class="reset" style="display: block;">Guardar y seguir creando</button>

    </form>

    <div style="display: flex; justify-content: space-around; flex-wrap: nowrap;">

        <% section.forEach (sec => { %>
            <section class="disenoBlanco" style="width: 25%;">
                <article class="disenoBlanco-article1">
                    <h2 class="disenoBlanco-article1-tituloPrincipal" style="font-size: 15px;">
                        <!--Elegir titulo seccion 1-->
                        <%= sec.title %>
                    </h2>
                </article>
                <div class="disenoBlanco-containerArticle2">
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo" style="margin: auto; font-size: 12px;">
                            <p>Sección de contenido, se edita luego</p>
                        </h3>
                    </article>
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo" style="margin: auto; font-size: 12px;">
                            <p>Sección de contenido, se edita luego</p>
                        </h3>
                    </article>
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo" style="margin: auto; font-size: 12px;">
                            <p>Sección de contenido, se edita luego</p>
                        </h3>
                    </article>
                    <article class="disenoBlanco-article2">
                        <h3 class="disenoBlanco-article2-titulo" style="margin: auto; font-size: 12px;">
                            <p>Sección de contenido, se edita luego</p>
                        </h3>
                    </article>
                </div>
                <article class="disenoBlanco-articleImg">
                    <img src="/images/Producto-<%= newID %>/<%= sec.image %>" alt="imagen descriptiva de las características del producto">
                </article>
        
            </section>
    
        <% }) %>

    </div>

    <div class="buttons-form">

        <button class="submit"><a style="text-decoration: none; color: black;" href="/products/<%= newID %>/create/contents">Siguiente</a></button>

    </div>


<% } %>


<%- include('../../partials/footer') %>