<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/users-style.css">
    <script src="/js/validationLogin.js" defer></script>
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>

<form class="form-login" action="/users/login" method="POST" id="loginForm">
    <h5>¡Hola! Completa tus datos</h5>
        <input id="user" class="usuario" type="email" name="user" placeholder="Correo del usuario"<% if (typeof email != 'undefined') { %> value="<%= email %>"<% } %>>
        <div id="userError"></div>
        <% if (typeof errors != "undefined") {
            errors.forEach ( error => { 
                if (error.param == "user") { %>
                    <p><%= error.msg %></p>
            <% } }) } %>
        <div class="passwordContainer">
            <input id="password" class="password" type="password" name="password" placeholder="Contraseña">
            <div id="showPassword" class="showPassword">
                <i class="fas fa-eye"></i>
            </div>
        </div>
        <div id="passwordError"></div>
        <% if (typeof errors != "undefined") {
            errors.forEach ( error => { 
                if (error.param == "password") { %>
                    <p><%= error.msg %></p>
            <% } }) } %>
    <div class="rememberMe">
        <input type="checkbox" name="remember" id="">
        <label for="remember">Mantener sesión iniciada</label>
    </div>  
    <input class="button" type="submit" name="" value="Ingresar">
    <p><a class="boton-registro" href="/users/register">¿No tenes cuenta? <strong>Registrate</strong></a></p>
    <p><a href="#">¿Olvidaste tu Contraseña?</a></p>
    <div class="form-oauth">
        <div class="form-oauth-titulo">Acceso rápido con:</div>
        <div class="form-oauth-iconos">
            <a href="#"><img src="/icons/social-media/google.png"></a>
            <a href="#"><img src="/icons/social-media/facebook.png"></a>
        </div>
    </div>
</form>


<%- include('../partials/footer') %>