<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/users-style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/validationProfile.js" defer></script>
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>
<div class="profile">

    <form action="/users/profile/avatar" method="POST" class="imageForm" enctype="multipart/form-data" id="imageForm">
        <% if (user.role == 'admin') { %>
            <h2>Perfil de Administrador:</h2>
        <% } else { %>
            <h2>Perfil de Usuario:</h2>
        <% } %>
        <label for="imagenPerfilInput" class="imagenPerfilInput">  
            <% if (locals.user.image != undefined) { %>
            <img class="imagenPerfil" src="/images/users/<%= locals.user.image %>" alt="Avatar o imagen de perfil">
        <% } else { %>
            <img class="imagenPerfil" src="/images/users/default-avatar.svg" alt="Avatar o imagen de perfil">
            <% } %>
        </label>

        <input type="file" name="imagenPerfilInput" class="imagenPerfilInputb" id="imagenPerfilInput" required>
        <div id="imagenPerfilInputError"></div>
        <button type="submit">Guardar cambios</button>

    </form>

    <form action="/users/profile/edit?_method=PATCH" method="POST" class="datosPersonales" id="profileForm">
        
        <input type="text" name="firstName" id="firstName" value="<%=user.first_name%>">
        <div id="firstNameError"></div>
        <% if (typeof errors != "undefined") {
            errors.forEach (error => { 
                if (error.param == "firstName") { %>
                    <p><%= error.msg %></p>
            <% } }) } %>
        <input type="text" name="lastName" id="lastName" value="<%=user.last_name%>">
        <div id="lastNameError"></div>
        <% if (typeof errors != "undefined") {
            errors.forEach (error => { 
                if (error.param == "lastName") { %>
                    <p><%= error.msg %></p>
            <% } }) } %>
        <input type="email" name="email" id="email" value="<%=user.email%>">
        <div id="emailError"></div>
        <% if (typeof errors != "undefined") {
        errors.forEach (error => { 
        if (error.param == "email") { %>
            <p><%= error.msg %></p>
    <% } }) } %>
        <input type="password" name="password" id="password" placeholder="Actualizar contraseña">
        <div id="passwordError"></div>
        <% if (typeof errors != "undefined") {
            errors.forEach (error => { 
                if (error.param == "password" && error.value != '') { %>
                    <p><%= error.msg %></p>
            <% } }) } %>
        <input type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Repetí tu nueva contraseña">
        <div id="passwordRepeatError"></div>
        <% if (typeof errors != "undefined") {
            errors.forEach (error => { 
                if (error.param == "passwordRepeat") { %>
                    <p><%= error.msg %></p>
            <% } }) } %>
            <% if (typeof passwordConfirmation != 'undefined' && passwordConfirmation == true) { %> 
                <p>La contrasena ha sido modificada con éxito</p>
            <% } %>
        <div class="productosContratados">
            <h4>Tu plan: </h4> <p> <% if(user.Products != undefined) { %> <%= user.Products.name %> <% } else { %> Todavia no seleccionaste ningun plan <% } %></p>
        </div>
        <div class="categoriaContratada">
            <h4>Tu categoría: </h4> <p> <% if(user.Categories != undefined) { %> <%= user.Categories.name %> <% } else { %> Todavia no seleccionaste ninguna categoría <% } %></p>
        </div>
        <input type="password" name="adminCode" value="" placeholder="¿Código de administrador?" class="input-código">
        
        <button type="submit">Guardar Cambios</button>


    </form>

    <form action="/users/profile/delete/?_method=DELETE" method="POST" class="container-delete" id="deleteForm">
        <button  type="submit" class="button-delete" id="delete">Eliminar cuenta ⚠</button>
    </form>
</div>
<%- include('../partials/footer') %>