<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/users-style.css">
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>

<form action="/users/profile/<%= locals.user.id %>/avatar" method="POST" class="imageForm" enctype="multipart/form-data">

    <label for="imagenPerfilInput" class="imagenPerfilInput">  
        <% if (locals.user.image != undefined) { %>
        <img class="imagenPerfil" src="/images/users/<%= locals.user.image %>" alt="Avatar o imagen de perfil">
       <% } else { %>
        <img class="imagenPerfil" src="/images/users/default-avatar.svg" alt="Avatar o imagen de perfil">
        <% } %>
    </label>

    <input type="file" name="imagenPerfilInput" class="imagenPerfilInputb" id="imagenPerfilInput" required>
    <button type="submit">Actualizar avatar</button>

</form>

<form action="/users/profile/<%= locals.user.id %>?_method=PATCH" method="POST" class="datosPersonales">
    
    <input type="text" name="firstName" value="<%=locals.user.firstName%>">

    <input type="text" name="lastName" value="<%=locals.user.lastName%>">

    <input type="email" name="email" value="<%=locals.user.email%>">

    <input type="password" name="password" placeholder="Actualizar contraseña">

    <input type="password" name="passwordRepeat" placeholder="Repetí tu nueva contraseña">

    
    <div class="productosContratados">
        <h4>Tu plan: </h4> <p> <% if(locals.user.plan != undefined) { %> <%= locals.user.plan %> <% } else { %> Todavia no seleccionaste ningun plan <% } %></p>
    </div>
    <div class="categoriaContratada">
        <h4>Tu categoría: </h4> <p> <% if(locals.user.category != undefined) { %> <%= locals.user.category %> <% } else { %> Todavia no seleccionaste ninguna categoría <% } %></p>
    </div>

    <button type="submit">Guardar Cambios</button>


</form>
<form action="/users/delete/<%= locals.user.id %>?_method=DELETE" method="POST" class="">
    <button type="submit">Eliminar cuenta</button>
</form>

<%- include('../partials/footer') %>