<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/users-style.css">
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>

<form action="/avatar" method="POST" class="imageForm" enctype="multipart/form-data">

    <label for="imagenPerfilInput" class="imagenPerfilInput">  
        
        <i class="far fa-file-image"></i>

    </label>

    <input type="file" name="imagenPerfilInput" class="imagenPerfilInputb" id="imagenPerfilInput">
    
    <button type="submit">Actualizar avatar</button>

</form>

<form action="/users/profile/<%= locals.user.id %>" method="POST" class="datosPersonales">
    
    <input type="text" name="nombreYApellido" value="<%=locals.user.firstName%>">

    <input type="text" name="nombreYApellido" value="<%=locals.user.lastName%>">

    <input type="email" name="nombreYApellido" value="<%=locals.user.email%>">

    <input type="password" name="nombreYApellido" placeholder="Actualizar contraseña">

    <input type="text" name="planContratado" placeholder="Acá va tu plan">

    <input type="text" name="categoriaContratada" placeholder="Acá va tu categoría">


    <button type="submit">Guardar Cambios</button>


</form>

<%- include('../partials/footer') %>