<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/users-style.css">
    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>
<div class="profile">

    
    <form action="/users/profile/avatar" method="POST" class="imageForm" enctype="multipart/form-data">
        <% if (locals.user.adminCode == true) { %>
            <h2>Perfil de Administrador:</h2>
        <% } else { %>
            <h2>Perfil de Usuario:</h2>
        <% } %>
        <label for="imagenPerfilInput" class="imagenPerfilInput">  
            <% if (locals.user.image != undefined) { %>
            <img class="imagenPerfil" src="/images/users/<%= locals.user.image %>" alt="Avatar o imagen de perfil">
        <% } else { %>
            <img class="imagenPerfil" src="/images/users/default-avatar.svg" alt="Avatar o imagen de perfil">
            <% } %>
        </label>

        <input type="file" name="imagenPerfilInput" class="imagenPerfilInputb" id="imagenPerfilInput" required>
        <button type="submit">Guardar cambios</button>

    </form>

    <form action="/users/profile/edit?_method=PATCH" method="POST" class="datosPersonales">
        
        <input type="text" name="firstName" value="<%=locals.user.first_name%>">
        <% if (typeof errors != "undefined") {
            errors.forEach (error => { 
                if (error.param == "firstName") { %>
                    <p><%= error.msg %></p>
            <% } }) } %>
        <input type="text" name="lastName" value="<%=locals.user.last_name%>">
        <% if (typeof errors != "undefined") {
            errors.forEach (error => { 
                if (error.param == "lastName") { %>
                    <p><%= error.msg %></p>
            <% } }) } %>
        <input type="email" name="email" value="<%=locals.user.email%>">
        <% if (typeof errors != "undefined") {
        errors.forEach (error => { 
        if (error.param == "email") { %>
            <p><%= error.msg %></p>
    <% } }) } %>
        <input type="password" name="password" placeholder="Actualizar contraseña">
        <% if (typeof errors != "undefined") {
            errors.forEach (error => { 
                if (error.param == "password" && error.value != '') { %>
                    <p><%= error.msg %></p>
            <% } }) } %>
        <input type="password" name="passwordRepeat" placeholder="Repetí tu nueva contraseña">
        <% if (typeof errors != "undefined") {
            errors.forEach (error => { 
                if (error.param == "passwordRepeat") { %>
                    <p><%= error.msg %></p>
            <% } }) } %>
            <% if (typeof passwordConfirmation != 'undefined' && passwordConfirmation == true) { %> 
                <p>La contrasena ha sido modificada con éxito</p>
            <% } %>
        <div class="productosContratados">
            <h4>Tu plan: </h4> <p> <% if(locals.user.plan != undefined) { %> <%= locals.user.plan %> <% } else { %> Todavia no seleccionaste ningun plan <% } %></p>
        </div>
        <div class="categoriaContratada">
            <h4>Tu categoría: </h4> <p> <% if(locals.user.category != undefined) { %> <%= locals.user.category %> <% } else { %> Todavia no seleccionaste ninguna categoría <% } %></p>
        </div>
        <input type="password" name="adminCode" value="" placeholder="¿Código de administrador?" class="input-código">
        
        <button type="submit">Guardar Cambios</button>


    </form>

    <form action="/users/profile/delete/?_method=DELETE" method="POST" class="container-delete">
        <button onclick="return confirm('¿Estas seguro que querés borrar tu cuenta de usuario?');" type="submit" class="button-delete">Eliminar cuenta ⚠</button>
    </form>
</div>
<%- include('../partials/footer') %>