<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/stylesheets/users-style.css">
    <script src="/js/validationRegister.js" defer></script>

    <%- include('../partials/head') %>
</head>

<%- include('../partials/navbar') %>

<form class="form-registro" action="/users/register" method="POST" id="registerForm">
<h5> Registrate </h5>
<input id="firstName"class="controls" type="text" name="firstName" placeholder="Nombre" <% if (typeof firstName != 'undefined') { %> value="<%= firstName %>"<% } %>>
<div id="firstNameError"></div>
<% if (typeof errors != "undefined") {
errors.forEach ( error => { 
    if (error.param == "firstName") { %>
        <p><%= error.msg %></p>
<% } }) } %>
<input id="lastName" class="controls" type="text" name="lastName" placeholder="Apellido" <% if (typeof lastName != 'undefined') { %> value="<%= lastName %>"<% } %>>
<div id="lastNameError"></div>
<% if (typeof errors != "undefined") {
    errors.forEach ( error => { 
        if (error.param == "lastName") { %>
            <p><%= error.msg %></p>
    <% } }) } %>
<input id="email" class="controls" type="mail" name="email" placeholder="Email" <% if (typeof email != 'undefined') { %> value="<%= email %>"<% } %>>
<div id="emailError"></div>
<% if (typeof errors != "undefined") {
    errors.forEach ( error => { 
        if (error.param == "email") { %>
            <p><%= error.msg %></p>
    <% } }) } %>
<% if (typeof mailDuplicated != 'undefined' && mailDuplicated == true) { %>
    <p>El email ingresado ya está registrado</p>
<% } %>
<input  id="password" class="controls" type="password" name="password" placeholder="Contraseña">
<div id="passwordError"></div>
<% if (typeof errors != "undefined") {
    errors.forEach ( error => { 
        if (error.param == "password") { %>
            <p><%= error.msg %></p>
    <% } }) } %>
<input id="passwordRepeat" class="controls" type="password" name="passwordRepeat" placeholder="Repetir Contraseña">
<div id="passwordRepeatError"></div>
<% if (typeof errors != "undefined") {
    errors.forEach (error => { 
        if (error.param == "passwordRepeat") { %>
            <p><%= error.msg %></p>
    <% } }) } %>    
<input id="formButton" class="buttons" type="submit"  value="Registrarse" >
<P><a class="boton-login" href="/users/login">¿Ya tenes cuenta? <strong>Inicia sesión</strong></a></p>
<div class="form-oauth">
    <div class="form-oauth-titulo">Registro rápido con:</div>
    <div class="form-oauth-iconos">
        <a href="#"><img src="/icons/social-media/google.png"></a>
        <a href="#"><img src="/icons/social-media/facebook.png"></a>
    </div>
    </div>
</form>

<%- include('../partials/footer') %>